
{{ form_widget(form.contratoOrigen) }}

{{ form_widget(form.categoriaContrato) }}

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.claseContrato) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.claseContrato) }}
            </div>
        </div>
    </div>
    <div class="col-md-2" id="divFechaDesocupacion">
        <div class="form-group">
            {{ form_label(form.fechaDesocupacion) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.fechaDesocupacion) }}
            </div>
        </div>
    </div>            
</div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.numeroContrato) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.numeroContrato) }}
            </div>
        </div>
    </div>
            <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.numeroOnabe) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.numeroOnabe) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.numeroCarpeta) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.numeroCarpeta) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.fechaInicio) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.fechaInicio) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.fechaFin) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.fechaFin) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.calculaIVA) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.calculaIVA) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.diaVencimiento) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.diaVencimiento) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.porcentajeTasaInteresMensual) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.porcentajeTasaInteresMensual) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.importeTotal) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.importeTotal) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.tipoMoneda) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.tipoMoneda) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.estadoContrato) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.estadoContrato) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.esExportacion) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.esExportacion) }}
            </div>
        </div>
    </div>
</div>

<div class="row numero-inmueble">
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.numeroInmueble) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.numeroInmueble) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.observacion) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.observacion) }}
            </div>
        </div>
    </div>
</div>