{% set EstadoComprobante = 'ADIF\\ContableBundle\\Entity\\EstadoComprobante' %}

<table class="table table-bordered table-striped table-comprobantes">
    <thead>
        <tr class="headers">
            <th class="nowrap text-center">Detalle</th>
            <th date class="nowrap text-center">Fecha</th>
            <th class="nowrap text-center">Comprobante</th>
            <th class="nowrap text-center">Letra</th>
            <th numeric class="nowrap text-center">N&uacute;mero</th>
            <th currency colspan="3">
                Importe neto
            </th>
        </tr>
    </thead>
    {% if muestraSaldo %}
        <tfoot>
            <tr class="tr-detalle-saldo">
                <td class="text-right bold" colspan="5">SALDO</td>
                <td class="bold">{{ entity.saldoPendienteFacturacion|money_format(entity.simboloTipoMoneda) }}</td>
            </tr>
        </tfoot>
    {% endif %}
    <tbody>
        {% for comprobanteVenta in comprobantes %}
            <tr class="{{comprobanteVenta.estadoComprobante.id == constant(EstadoComprobante ~ '::__ESTADO_ANULADO')? 'comprobante-anulado' : ''}}">
                <td class="nowrap">{{ comprobanteVenta.observaciones|default('-') }}{{comprobanteVenta.estadoComprobante.id == constant(EstadoComprobante ~ '::__ESTADO_ANULADO')?' (ANULADO)':'' }}</td>
                <td class="nowrap">{{ comprobanteVenta.fechaComprobante|date('d/m/Y') }}</td>
                <td class="nowrap">{{ comprobanteVenta.tipoComprobante }}</td>
                <td class="nowrap">{{ comprobanteVenta.letraComprobante }}</td>
                <td class="nowrap">{{ comprobanteVenta.esCupon ? comprobanteVenta.numeroCupon : comprobanteVenta.numero }}</td>
                <td colspan="4">
                    {{ comprobanteVenta.totalNeto|money_format(comprobanteVenta.contrato.simboloTipoMoneda) }}

                    <button class="btn btn-xs btn-circle green-seagreen tooltips link-detalle-importe" 
                            data-original-title="Ver detalle">
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
            <tr class="tr-detalle-importe hidden">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="bold text-left">IVA</td>
                <td class="bold text-left">Perc. IIBB</td>
                <td class="bold text-left">Perc. IVA</td>
                <td class="bold text-left">TOTAL</td>
            </tr>
            <tr class="tr-detalle-importe hidden">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hlt">{{ comprobanteVenta.importeTotalIva|money_format }}</td>
                <td class="hlt">{{ comprobanteVenta.importeTotalPercepcionByConcepto(conceptoPercepcionIIBB)|money_format }}</td>
                <td class="hlt">{{ comprobanteVenta.importeTotalPercepcionByConcepto(conceptoPercepcionIVA)|money_format }}</td>
                <td class="hlt">{{ comprobanteVenta.total|money_format(comprobanteVenta.contrato.simboloTipoMoneda) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>