<div class="row" index="__item_hoja_ruta__">
    {{ form_widget(item.linea) }} 
    {{ form_widget(item.operador) }}
    {{ form_widget(item.division) }}
    {{ form_widget(item.tipoActivo) }}
    {{ form_widget(item.progresivaInicioTramo)}}
    {{ form_widget(item.progresivaFinalTramo)}}
    {{ form_widget(item.idEmpresa)}}
    {{ form_widget(item.activoLineal)}}
</div>
