<thead>
    <tr class="replace-inputs filter">
        <th></th>
        <th class="not-in-filter"></th>
        <th>Tipo</th>
        <th data-type="date">Fecha</th>                    
        <th>Importe</th>
    </tr>
    <tr class="headers">
        <th class="no-order entity_id"></th>
        <th class="text-center table-checkbox no-order">
            <input type="checkbox" class="group-checkable not-checkbox-transform" 
                   data-set="#table-pagos-a-cuenta-{{ impuesto }} .checkboxes" />
        </th>
        <th>Tipo</th>
        <th date export-format="date" class="nowrap">Fecha</th>
        <th currency>Importe</th>
    </tr>
</thead>
<tbody>
    {% if pagosACuenta is defined %}
        {% for pagoACuenta in pagosACuenta%}
            <tr>
                <td> {{ pagoACuenta.id }} </td>
                <td class="text-center">
                    <input type="checkbox" class="checkboxes" value="" />
                </td>
                <td class="nowrap">{{ pagoACuenta.tipoDeclaracionJurada }}</td>
                <td class="nowrap">{{ pagoACuenta.fechaCreacion|date('d/m/Y') }}</td>
                <td>{{ pagoACuenta.importe|money_format }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</tbody>