{
"data": [
{% for entity in entities %}
    [
    "{{ entity.id }}",
    "{{ entity.id }}",
    "{{ entity.name|default('-') }}",
    "{% for rol in entity.roles %}<div>{{ rol }}</div>{% else %} - {% endfor %}",
    "{{ entity.descripcion|default('-') }}",
    {
    "show" : " {{ path( "fos_user_group_show", { "groupName": entity.name }) }}",
    "edit" : " {{ path( "fos_user_group_edit", { "groupName": entity.name }) }}"
    }
    ]{{ (loop.last ? '' : ',') }}
{% endfor %}
]}
