{% set periodo_liquidacion = (es_sac ? 'SAC ' : '') ~ le.liquidacion.fechaCierreNovedades|localizeddate('full','none',app.request.locale,null,'MMMM y')|upper %}
{% for tipoRecibo in ['original','duplicado'] %}
    <div class="page">
        <table class="w-100" border="1" style="margin-top: 0px;">
            <tbody>
                <tr>
                    <td rowspan="2" class="w-30 t-center"><img src="{{ app.request.getSchemeAndHttpHost() ~ '/images/logo_siga_recibo_sueldo_2016.png' }}" /></td>
                    <td class="bold" style="font-size: 14px;">ADIF S.E</td>
                    <td class="t-right" style="font-size: 14px;">CUIT <span class="bold" style="font-size: 14px;">{{ adif.cuil }}</span></td>
                    <td class="w-20 t-center header hlt" style="border-bottom:0;" style="font-size: 14px;">N&ordm; LEGAJO</td>
                </tr>
                <tr>
                    <td class="bold " colspan="2" style="font-size: 14px;">{{ adif.direccion }}</td>
                    <td class="hlt t-center" style="border-top:0;font-size: 20px;">{{ empleado.nroLegajo }}</td>
                </tr>
            </tbody>
        </table>

        <table class="w-100 m-top-2-5" border="1">
            <tbody>
                <tr>
                    <td class="w-60 t-center header">APELLIDO Y NOMBRE</td>
                    <td class="w-20 t-center header">CUIL</td>
                    <td class="w-20 t-center header">N&ordm; RECIBO</td>
                </tr>
                <tr>
                    <td class="hlt">{{ empleado.persona }}</td>
                    <td class="t-center hlt">{{ empleado.persona.cuil }}</td>
                    <td class="t-center hlt">{{ (le.id) ? le.id : '--' }}</td>
                </tr>
            </tbody>
        </table>
        <table class="w-100 m-top-2-5" border="1">
            <tbody>
                <tr>            
                    <td class="w-20 t-center header">SECCI&Oacute;N</td>
                    <td class="w-20 t-center header">CATEGOR&Iacute;A</td>
                    <td class="w-20 t-center header">CALIFICACI&Oacute;N PROFESIONAL</td>
                    <td class="w-10 t-center header">FECHA DE INGRESO</td>
                    <td class="w-15 t-center header">REMUNERACI&Oacute;N ASIGNADA</td>
                    <td class="w-15 t-center header">CONV. COLECTIVO DE TRABAJO</td>
                </tr>
                <tr>
                    <td class="t-center hlt">{{ empleado.gerencia }}</td>
                    <!--<td class="t-center hlt">{{ empleado.subcategoria.categoria ~ ' ' ~ empleado.subcategoria}}</td>-->
					{% if subcategoria_periodo %}
	                    <td class="t-center hlt">{{ subcategoria_periodo.subcategoria.categoriaRecibo }}</td>
					{% else %}
                    	<td class="t-center hlt">{{ empleado.subcategoria.categoriaRecibo }}</td>
					{% endif %}
                    <td class="t-center hlt">--</td>
                    <td class="t-center hlt">{{ empleado.fechaIngreso|date('d/m/y') }}</td>
                    {% if le.basico == 0 %}
						{% if subcategoria_periodo %}
	                        <td class="t-center hlt">{{ subcategoria_periodo.subcategoria.montoBasico|number_format(2, ',', '.') }}</td>
						{% else %}
	                        <td class="t-center hlt">{{ empleado.subcategoria.montoBasico|number_format(2, ',', '.') }}</td>
						{% endif %}
                    {% else %}
                        <td class="t-center hlt">{{ le.basico|number_format(2, ',', '.') }}</td>
                    {% endif %}   
					{% if subcategoria_periodo %}
                    	<td class="t-center hlt">{{ subcategoria_periodo.subcategoria.categoria.convenio }}</td>
					{% else %}
                    	<td class="t-center hlt">{{ empleado.subcategoria.categoria.convenio }}</td>
					{% endif %}
                </tr>
            </tbody>
        </table>

        <table class="w-100 m-top-2-5" border="1">
            <tbody>        
                <tr>
                    <td class="header t-center w-30">PERIODO DE PAGO</td>
                    <td class="header t-center w-30">CONTRATACION</td>
                    <td class="header t-center w-20">ANTIG&Uuml;EDAD</td>
                    <td class="header t-center w-20">FECHA ANTIG&Uuml;EDAD RECONOCIDA</td>
                </tr>
                <tr>
                    <td class="hlt t-center">{{ periodo_liquidacion }}</td>
                     {% if tipo_contrato_periodo != null and es_session == false %}
                        <td class="hlt t-center">{{ tipo_contrato_periodo.tipoContrato.nombre }}</td>
                    {% else %}
                        <td class="hlt t-center">{{ empleado.tipoContratacionActual.tipoContrato.nombre }}</td>
                    {% endif %}
                    <td class="hlt t-center">{{ empleado.nroLegajo == 8 ? '20 a&ntilde;os 8 meses 24 d&iacute;as' : ( anios_ant ~ ' año' ~ (anios_ant != 1 ? 's' : '')) }}</td>
                    <td class="hlt t-center">{{ empleado.fechaInicioAntiguedad|date('d/m/y')}}</td>
                </tr>
            </tbody>
        </table>

        <table class="w-100 m-top-2-5" border="1">
            <tbody>
                <tr>
                    <td class="w-40 t-center header" colspan="2">CONCEPTO</td>
                    <td class="w-12 t-center header">UNIDADES</td>
                    <td class="w-12 t-center header" style="font-size:6pt;padding:0px;">REMUNERACIONES SUJETAS A RETENCION</td>
                    <td class="w-12 t-center header" style="font-size:6pt;padding:0px;">REMUNERACIONES EXENTAS</td>
                    <td class="w-12 t-center header" style="padding:0px;">DESCUENTOS</td>
                </tr>
                {% if(not es_sac) %}
                    <tr class="concepto">
                        {% if le.basico != 0 %}
                            {% if (subcategoria_periodo and subcategoria_periodo.subcategoria.esCategoria02 == false) or (not subcategoria_periodo and empleado.subcategoria.esCategoria02 == false) %}
                                <td class="w-5" style="border-right: 0;">0001</td>
                                <td class="w-35" style="border-left: 0;">Salario b&aacute;sico</td>
                            {% else %}
                                <td class="w-5" style="border-right: 0;">0002</td>
                                <td class="w-35" style="border-left: 0;">Sueldo</td>
                            {% endif %}
                            <td></td>
                        {% endif %}
                        {% if le.basico != 0 %}
                            <td class=" t-right">{{ le.basico|number_format(2, ',', '.') }}</td>
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endif %}
                {% set tc_calculo_ganancias = 0 %}
                {% for concepto in le.liquidacionEmpleadoConceptos if concepto.conceptoVersion.imprimeRecibo %}
                    {% set c_version = concepto.conceptoVersion %}
                    {% if ((c_version.esNovedad and concepto.empleadoNovedad and concepto.empleadoNovedad.valor != 0) or (concepto.monto != 0)) %}
                        {% if (c_version.idtipoConcepto == tc_ganancias and c_version.codigo != '999') %}
                            {% set tc_calculo_ganancias = tc_calculo_ganancias + concepto.monto %}
                        {% endif %}
                        <tr class="concepto">
                            <td class="w-5" style="border-right: 0;">{{ c_version.codigo|str_pad(4,'0',0) }}</td>
                            <td class="w-35" style="border-left: 0;">{{ c_version.leyenda }}</td>
                            <td class=" t-right">{{ (c_version.esNovedad ? ( c_version.formula|trim() == '#valor#' ? '' : (concepto.empleadoNovedad ? concepto.empleadoNovedad.valor|number_format(2, ',', '.') : '')) : '' ) }}</td>
                            <td class=" t-right">{{ c_version.idtipoConcepto == tc_remunerativo ? concepto.monto|number_format(2, ',', '.') : ''}}</td>
                            <td class=" t-right">{{ c_version.idtipoConcepto == tc_no_remunerativo ? concepto.monto|number_format(2, ',', '.') : ''}}</td>
                            <td class=" t-right">{{ 
                                ((c_version.idtipoConcepto == tc_aporte or
                                c_version.idtipoConcepto == tc_cuota_sindical_aportes or
                                c_version.idtipoConcepto == tc_descuento or 
                                c_version.idtipoConcepto == tc_ganancias )
                                ? concepto.monto|number_format(2, ',', '.') : '')}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr class="concepto">
                    <td class="w-5" style="border-right: 0;">0997</td>
                    <td class="w-35" style="border-left: 0;">REDONDEO</td>
                    <td class=" t-right"></td>
                    <td class=" t-right"></td>
                    <td class=" t-right">{{ le.redondeo|number_format(2, ',', '.') }}</td>
                    <td class=" t-right"></td>
                </tr>
                <tr class="">
                    <td class="t-right header" colspan="3" style="border-bottom: none;">SUBTOTALES</td>
                    <td class="t-right header monospc hlt">{{ (le.bruto1+le.bruto2)|number_format(2, ',', '.') }}</td>
                    <td class="t-right header monospc hlt">{{ (le.noRemunerativo + le.redondeo)|number_format(2, ',', '.') }}</td>
                    <td class="t-right header monospc hlt">{{ (le.descuentos + tc_calculo_ganancias + ((le.gananciaEmpleado is null) ? 0 : le.gananciaEmpleado.saldoImpuestoMes))|number_format(2, ',', '.') }}</td>
                </tr>
                <tr class="" style="border-bottom: none;">
                    <td class="t-right header" colspan="5"  style="border-bottom: none;border-top: none;">TOTAL NETO</td>
                    <td class="t-right header monospc hlt">{{ le.neto|number_format(2, ',', '.') }}</td>
                </tr>
            </tbody>
        </table>

        <table class="w-100 m-top" border="1">
            <tbody>        
                <tr>
                    <td class="header w-40">SON PESOS</td>
                    <td class="header w-20">LUGAR Y FECHA DE PAGO</td>
                    <td class="header w-40">FORMA DE PAGO</td>
                <tr>
                <tr>
                    <td class="hlt w-40">{{ le.neto|number_format(2,'.','')|a_letras|capitalize }}</td>
                    {% if le.liquidacion.id != null %}
                        <td class="hlt w-20">{{ le.liquidacion.lugarPago ~ ', ' ~ le.liquidacion.fechaPago|date('d/m/y') }}</td>
                    {% else %}
                        <td class="hlt w-20">{{ lugarPagoSession ~ ', ' ~ fechaPagoSession|date('d/m/y') }}</td>
                    {% endif %}
                    <td class="hlt w-40">{{ le.cbu ? 'CUENTA BANCARIA - CBU N&ordm;: ' ~ le.cbu : 'CHEQUE' }}</td>
                </tr>
            </tbody>
        </table>
        <div class="footer">
            <table class="w-100 m-top" border="1">
                <tbody>
                    {% if tipoRecibo == 'original' %}
                        <tr>
                            <td class="w-40 h-15" style="height:25mm;" colspan="2"></td>
                            <td class="w-60 t-center v-align-top" colspan="2" rowspan="5">
								{% if firma_carro %}
									<img src="{{ app.request.getSchemeAndHttpHost() ~ '/images/firma_carro.png' }}"/>
                                    <p>
                                        LIC. MARCELO MAXIMO CARRO<br />
                                        GERENTE DE RECURSOS HUMANOS Y RELACIONES LABORALES<br />
                                        ADMINISTRACI&Oacute;N DE INFRAESTRUCTURAS<br />
                                        FERROVIARIAS S.E.<br />
                                    </p>
                                {% elseif firma_autunno %}
                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ '/images/firma_autunno.png' }}"/>
                                    <p>
                                        LIC. SEBASTIAN AUTUNNO<br />
                                        GERENTE DE RECURSOS HUMANOS Y RELACIONES LABORALES<br />
                                        ADMINISTRACI&Oacute;N DE INFRAESTRUCTURAS<br />
                                        FERROVIARIAS S.E.<br />
                                    </p>
                                 {% else %}
                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ '/images/firma_sergio_sm.png' }}"/>
                                    <p>
                                        Cdor. SERGIO ETCHETTO<br />
                                        GERENTE DE ADMINISTRACI&Oacute;N<br />
                                        ADMINISTRACI&Oacute;N DE INFRAESTRUCTURAS<br />
                                        FERROVIARIAS S.E.<br />
                                    </p>
                                 {% endif %}
                                
                                <hr style="width:50%;">
                                <p>
                                    Firma empleador
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-40 hlt t-center" colspan="2">APORTES Y CONTRIBUCIONES ART. 12 LEY 17250</td>
                        </tr>
                        <tr style="height:5mm;">
                            <td class="w-10 header">MES / A&Ntilde;O </td>
                            <td class="w-30 hlt">{{ le.liquidacion.fechaUltimoAporte|localizeddate('full','none',app.request.locale,null,'MMMM')|upper ~' '~ le.liquidacion.fechaUltimoAporte|date('Y') }}</td>
                        </tr>
                        <tr style="height:5mm;">
                            <td class="w-10 header">BANCO</td>
                            <td class="w-30 hlt">{{ le.liquidacion.bancoAporte ? le.liquidacion.bancoAporte : 'BBVA' }}</td>
                        </tr>
                        <tr style="height:5mm;">
                            <td class="w-10 header">FECHA DEP&Oacute;SITO</td>
                            <td class="w-30 hlt">{{ le.liquidacion.fechaDepositoAporte|date('d/m/y') }}</td>
                        </tr>
                    {% else %}  
                        <tr>
                            <td class="w-40 hlt t-center" colspan="2">APORTES Y CONTRIBUCIONES ART. 12 LEY 17250</td>
                            <td class="w-30 t-justify v-align-middle" rowspan="4" style="border-right: none;">
                                RECIB&Iacute; EL IMPORTE NETO DE ESTA LIQUIDACI&Oacute;N
                                EN PAGO DE MI REMUNERACI&Oacute;N CORRESPONDIENTE
                                AL PERIODO INDICADO Y DUPLICADO DE LA MISMA
                                CONFORME A LA LEY VIGENTE.     
                            </td>
                            <td class="w-30 t-center v-align-bottom" rowspan="4"  style="border-left: none;">
                                <hr class="w-50">
                                <p>
                                    Firma empleado
                                </p>     
                            </td>
                        </tr>
                        <tr style="height:5mm;">
                            <td class="w-10 header">MES</td>
                            <td class="w-30 hlt">{{ le.liquidacion.fechaUltimoAporte|localizeddate('full','none',app.request.locale,null,'MMMM')|upper ~' '~ le.liquidacion.fechaUltimoAporte|date('y') }}</td>
                        </tr>
                        <tr style="height:5mm;">
                            <td class="w-10 header">BANCO</td>
                            <td class="w-30 hlt">{{ le.liquidacion.bancoAporte ? le.liquidacion.bancoAporte : 'BBVA' }}</td>
                        </tr>
                        <tr style="height:5mm;">
                            <td class="w-10 header">FECHA DEP&Oacute;SITO</td>
                            <td class="w-30 hlt">{{ le.liquidacion.fechaDepositoAporte|date('d/m/y') }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
