{% extends '::base.html.twig' %}


{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Detalles del movimiento ministerial
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>                
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Fecha</label>
                        <div class="detalle_show">{{ entity.fecha|date('d/m/Y') }}</div>
                    </div>
                </div>
                    <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">N&uacute;mero de referencia</label>
                        <div class="detalle_show">{{ entity.numeroReferencia }}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Monto</label>
                        <div class="detalle_show">{{ entity.monto|money_format }}</div>
                    </div>
                </div>
            </div>
            <div class="row">    
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Origen</label>
                        <div class="detalle_show">{{ entity.esIngreso ? entity.conceptoTransaccionMinisterial : entity.cuentaBancariaADIF }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Destino</label>
                        <div class="detalle_show">{{ entity.esIngreso ? entity.cuentaBancariaADIF : entity.conceptoTransaccionMinisterial }}</div>
                    </div>
                </div>
            </div>                    
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Detalle</label>
                        <div class="detalle_show">{{ entity.detalle ? entity.detalle : '&nbsp;' }}</div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="button" class="btn default button-back" 
                        back-url="{{ path('movimientoministerial') }}">
                    <i class="m-icon-swapleft"></i> Volver
                </button>
            </div>
        </div>
    </div>
{% endblock %}
