
<h5>Datos del beneficiario</h5>

<table class="w-100 m-top" border="1" >
    <tr>
        <td style="vertical-align: top;">
            <table class="w-100 t-left" border="0" style="line-height: 80%;">
                <tbody>
                    <tr>
                        <td class="f-12" colspan="1">Raz&oacute;n social:</td>
                        <td colspan="3" class="bold f-12">{{ razonSocial }}</td></tr>
                    <tr>
                        <td class="f-12" colspan="1">{{ tipoDocumento }}:</td>
                        <td colspan="3" class="bold f-12">{{ nroDocumento  }}</td>
                    </tr>
                    <tr>
                        <td class="f-12" colspan="1">Concepto:</td>
                        <td colspan="3" class="bold f-12">{{ op.concepto }}</td>
                    </tr>
                    <tr>
                        <td class="f-12" >Domicilio:</td>
                        <td class="bold f-12">{{ domicilio  }}</td>
                        <td class="f-12" >Localidad:</td>
                        <td class="bold f-12">{{ localidad }}</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
