
<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Datos comerciales</legend>

    <div class="row">   
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Tipo de pago</label>
                <div class="detalle_show">
                    {{ consultor.tipoPago|default('-') }}
                </div>
            </div>
        </div>         
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Tipo de moneda</label>
                <div class="detalle_show">
                    {{ consultor.tipoMoneda|default('-') }}
                </div>
            </div>
        </div>            
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Banco</label>
                <div class="detalle_show">
                    {{ consultor.cuenta is not null ? consultor.cuenta.idBanco : '-' }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Tipo de cuenta</label>
                <div class="detalle_show">
                    {{ consultor.cuenta is not null ? consultor.cuenta.idTipoCuenta : '-' }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">CBU</label>
                <div class="detalle_show">
                    {{ consultor.cuenta is not null ? consultor.cuenta.cbu : '-' }}
                </div>
            </div>
        </div>
    </div>  

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Cuenta contable</label>
                <div class="detalle_show">
                    {{ consultor.cuentaContable|default('-') }}
                </div>
            </div>
        </div>   
    </div>
</fieldset>