<div class="row row_renglon_comprobante_nuevo">

    <div class="col-md-4">
		<div class="form-group">			
			<div class="input-icon right">
				<i class="fa"></i>
				{{ form_widget(form.renglonesComprobante.vars.prototype.descripcion) }}
			</div>
		</div>
	</div>

   <div class="col-md-1">
		<div class="form-group">
			<div class="input-icon right">
				<i class="fa"></i>
				{{ form_widget(form.renglonesComprobante.vars.prototype.cantidad) }}
			</div>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="form-group">
			<div class="input-icon right">
				<i class="fa"></i>
				{{ form_widget(form.renglonesComprobante.vars.prototype.precioUnitario) }}
			</div>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="form-group">
			<div class="input-icon right">
				<i class="fa"></i>
				{{ form_widget(form.renglonesComprobante.vars.prototype.montoNeto) }}
			</div>
		</div>
	</div>

    <div class="col-md-1">
        <div class="form-group">
            <div class="input-icon right">
                <i class="fa"></i>
				{{ form_widget(form.renglonesComprobante.vars.prototype.alicuotaIva) }}
               
            </div>
        </div>
    </div>
	
	<div class="col-md-2">
		<div class="form-group">
			<div class="input-icon right">
				<i class="fa"></i>
				{{ form_widget(form.renglonesComprobante.vars.prototype.montoIva) }}
			</div>
		</div>
	</div>
	
</div>
