{% extends '::base.html.twig' %}  


{% block stylesheets %}

    {{ parent() }}

    <style type="text/css">        
        #cant_seleccionados{
            font-weight: bold;
        }
    </style>

{% endblock%}

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Comprobantes y anticipos de locaci&oacute;n</div>
                </div>
                <div class="portlet-body">
                    <form name="form_generar_autorizacion_contable" 
                          id="form_generar_autorizacion_contable" method="post" 
                          action="{{ path( 'autorizacioncontableconsultoria_new') }}">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet box blue-hoki">
                                    <div class="portlet-title">
                                        <div class="caption">Comprobantes de locaci&oacute;n</div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <div class="btn-group pull-left">
                                                <a class="btn btn-sm green tooltips" data-placement="right" 
                                                   data-original-title="Crear comprobante de locaci&oacute;n" 
                                                   href=" {{ path( 'comprobante_consultoria_new') }} ">
                                                    Crear comprobante de locaci&oacute;n <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                            <button class="btn btn-sm grey comprobantes_seleccionados pull-left" type="button" data-placement="right" disabled>
                                                <span id="cant_seleccionados">0</span> comprobante<span class="plural">s</span> seleccionado<span class="plural">s</span>
                                            </button>

                                            {% if is_granted("ROLE_CONTABLE_CREACION_AUTORIZACION_CONTABLE") %}
                                                <div class="btn-group pull-right hidden" id="generar_autorizacion_contable">
                                                    <a class="btn btn-sm purple tooltips" data-placement="top" 
                                                       data-original-title="Generar autorizaci&oacute;n contable" href="">
                                                        <i class="fa fa-check"></i>
                                                        Generar autorizaci&oacute;n contable
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <table 
                                            class="table table-bordered table-striped table-condensed 
                                            flip-content dt-multiselect export-excel" 
                                            id="table-consultoria_comprobanteconsultoria"
                                            dataexport-title="comprobanteconsultoria">
                                            <thead>
                                                <tr class="replace-inputs filter">
                                                    <th></th>
                                                    <th class="not-in-filter"></th>
                                                    <th data-type="date">Fecha</th>
                                                    <th>Contrato</th>
                                                    <th class="hidden not-in-filter">Contrato</th>
                                                    <th>Consultor</th>
                                                    <th>Comprobante</th>
                                                    <th>N&uacute;mero</th>
                                                    <th>Total</th>
                                                    <th class="hidden not-in-filter">Anulado</th>  
                                                    <th class="not-in-filter"></th>
                                                </tr>
                                                <tr class="headers">
                                                    <th class="no-order entity_id"></th>
                                                    <th class="text-center table-checkbox no-order">
                                                        <input type="checkbox" class="not-checkbox-transform group-checkable" data-set="#table-consultoria\comprobanteconsultoria .checkboxes" />
                                                    </th>
                                                    <th date export-format="date" class="nowrap">Fecha</th>
                                                    <th class="nowrap">Contrato</th>
                                                    <th class="hidden">Contrato</th>
                                                    <th class="nowrap">Consultor</th>
                                                    <th class="nowrap">Comprobante</th>
                                                    <th class="nowrap">N&uacute;mero</th>
                                                    <th currency >Total</th>
                                                    <th class="hidden">Anulado</th>
                                                    <th class="text-center no-order ctn_acciones">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet box blue-chambray">
                                    <div class="portlet-title">
                                        <div class="caption">Comprobantes de cr&eacute;dito</div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <button class="btn btn-sm grey comprobantes_seleccionados pull-left" type="button" data-placement="right" disabled>
                                                <span id="cant_anticipos_seleccionados">0</span> comprobante<span class="plural_anticipo">s</span> de cr&eacute;dito seleccionado<span class="plural_anticipo">s</span>
                                            </button>
                                        </div>
                                        <table 
                                            class="table table-bordered table-striped table-condensed flip-content dt-multiselect export-excel" 
                                            id="table-consultoria_anticipoconsultoria"
                                            dataexport-title="anticipoconsultoria">
                                            <thead>
                                                <tr class="replace-inputs filter">
                                                    <th></th>
                                                    <th class="not-in-filter"></th>
                                                    <th data-type="date" >Fecha</th>
                                                    <th>Tipo</th>
                                                    <th class="hidden not-in-filter">ID Tipo</th>
                                                    <th>Consultor</th>
                                                    <th class="filter-contrato">Contrato</th>
                                                    <th class="hidden not-in-filter">Contrato</th>
                                                    <th>Total</th>
                                                    <th class="hidden not-in-filter">Anulado</th>  
                                                    <th class="not-in-filter"></th>
                                                </tr>
                                                <tr class="headers">
                                                    <th class="no-order entity_id"></th>
                                                    <th class="text-center table-checkbox no-order">
                                                        <input type="checkbox" class="not-checkbox-transform group-checkable" data-set="#table-consultoria_anticipoconsultoria .checkboxes" />
                                                    </th>
                                                    <th date class="nowrap">Fecha</th>
                                                    <th class="nowrap">Tipo</th>
                                                    <th class="hidden">ID Tipo</th>
                                                    <th>Consultor</th>
                                                    <th class="nowrap">Contrato</th>
                                                    <th class="hidden">Contrato</th>
                                                    <th currency class="nowrap">Total</th>
                                                    <th class="hidden">Anulado</th>
                                                    <th class="text-center no-order ctn_acciones">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/custom/contable/asientocontable/editar_fecha.js') }}" ></script>

    <script src="{{ asset('js/custom/contable/comprobante/consultoria/index.js') }}" ></script>

{% endblock %}
