
<table 
    class="table table-bordered table-striped table-condensed flip-content dt-multiselect" 
    id="table-solicitudcompra-{{ tipo }}">
    <thead>
        <tr class="replace-inputs filter">
            <th></th>
            <th class="not-in-filter"></th>
            <th>N&uacute;mero</th>
            <th data-type="date">Fecha</th>
            <th data-type="select" data-select-mode="embedded">
                <select class="input-filter">
                    <option value="">Todos</option>
                    {% for tipocompra in tiposcompra %}
                        <option value="{{ tipocompra.denominacionTipoSolicitudCompra }}">{{ tipocompra.denominacionTipoSolicitudCompra }}</option>
                    {% endfor %}
                </select>
            </th>
            <th>&Aacute;rea solicitante</th>
            <th>Descripci&oacute;n</th>
            <th>Justiprecio total</th>
            <th data-type="select" data-select-mode="embedded">
                <select class="input-filter">
                    <option value="">Todos</option>
                    {% for estado in estados %}
                        <option value="{{ estado.denominacionEstadoSolicitudCompra }}">{{ estado.denominacionEstadoSolicitudCompra }}</option>
                    {% endfor %}
                </select>
            </th>
            <th class="not-in-filter"></th>
        </tr>
        <tr class="headers">
            <th class="no-order entity_id"></th>
            <th class="text-center table-checkbox no-order">
                <input type="checkbox" class="group-checkable not-checkbox-transform" />
            </th>
            <th>N&uacute;mero</th>
            <th date export-format="date">Fecha</th>
            <th>Tipo compra</th>
            <th>&Aacute;rea solicitante</th>
            <th>Descripci&oacute;n</th>
            <th currency class="nowrap">Justiprecio total</th>
            <th>Estado</th>
            <th class="text-center no-order ctn_acciones">Acciones</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
