<li class="timeline-red">
    <div class="timeline-time">
        <span class="time">{{ empleado }}</span>
        <span class="date">
            Legajo {{ empleado.nroLegajo|default('-') }}
        </span>
    </div>
    <div class="timeline-icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="timeline-body">
        <div class="timeline-body-head">
            <div class="timeline-body-head-caption">
                <span class="timeline-body-title">
                    Empleado {{ empleado }}
                </span>
            </div>
            <div class="timeline-body-head-actions">
                <a href="{{ path( 'empleados_show', { 'id': empleado.id }) }}" target="_blank">Ver detalle</a>
            </div>
        </div>
        <div class="timeline-body-content">
            <span class="font-grey-gallery">
                <p class="col-md-6">
                    <span class="bold">CUIL: </span>{{ empleado.persona.cuil|default('-') }}
                </p>
                <p class="col-md-6">
                    <span class="bold">&Aacute;rea: </span>{{ empleado.idArea|default('-') }}
                </p>
                <p class="col-md-6 margin-top-10">
                    <span class="bold">Condici&oacute;n: </span>{{ empleado.condicion|default('-') }}
                </p>
                <p class="col-md-6 margin-top-10">
                    <span class="bold">Tipo contrataci&oacute;n: </span>{{ empleado.tipoContratacionActual|default('-') }}
                </p>
            </span>
        </div>
        <div class="timeline-footer"></div>
    </div>
</li>