<li class="timeline-red">
    <div class="timeline-time">
        <span class="time">Contrato n&deg; {{ contratoConsultoria.numeroContrato }}</span>
        <span class="date">
            {{ contratoConsultoria.fechaInicio|date('d/m/Y') ~ ' - ' ~ contratoConsultoria.fechaFin|date('d/m/Y') }}
        </span>
    </div>
    <div class="timeline-icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="timeline-body">
        <div class="timeline-body-head">
            <div class="timeline-body-head-caption">
                <span class="timeline-body-title">
                    Contrato n&deg; {{ contratoConsultoria.numeroContrato }} - {{ contratoConsultoria.claseContrato }}
                </span>
                <span class="timeline-body-time">{{ ' (' ~  contratoConsultoria.estadoContrato ~ ')' }}</span>
            </div>
            <div class="timeline-body-head-actions">
                <a href="{{ path( 'contratoconsultoria_show', { 'id': contratoConsultoria.id }) }}" target="_blank">Ver detalle</a>
            </div>
        </div>
        <div class="timeline-body-content">
            <span class="font-grey-gallery">
                <p class="col-md-8">
                    <span class="bold">Consultor: </span>{{ contratoConsultoria.consultor.cuitAndRazonSocial|default('-') }}
                </p>
                <p class="col-md-4">
                    <span class="bold">N&uacute;mero de carpeta: </span>{{ contratoConsultoria.numeroCarpeta|default('-') }}
                </p>

                <p class="col-md-4 margin-top-10">
                    <span class="bold">Fecha de inicio: </span>{{ contratoConsultoria.fechaInicio|date('d/m/Y') }}
                </p>
                <p class="col-md-4 margin-top-10">
                    <span class="bold">Fecha de fin: </span>{{ contratoConsultoria.fechaFin|date('d/m/Y') }}
                </p>
                <p class="col-md-4 margin-top-10">
                    <span class="bold">Importe total: </span>{{ contratoConsultoria.importeTotal|money_format }}
                </p>

                <p class="col-md-4 margin-top-10">
                    <span class="bold">&Aacute;rea: </span>{{ contratoConsultoria.area|default('-') }}
                </p>
                <p class="col-md-4 margin-top-10">
                    <span class="bold">Gerencia: </span>{{ contratoConsultoria.gerencia|default('-') }}
                </p>
                <p class="col-md-4 margin-top-10">
                    <span class="bold">Subgerencia: </span>{{ contratoConsultoria.subgerencia|default('-') }}
                </p>

                <p class="col-md-12 margin-top-10">
                    <span class="bold">Observaci&oacute;n: </span>{{ contratoConsultoria.observacion|default('-') }}
                </p>
            </span>
        </div>
        <div class="timeline-footer"></div>
    </div>
</li>