{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Resultado de Reenv&iacute;o de comprobantes electr&oacute;nicos
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>                
            </div>
        </div>
        <div class="portlet-body">   
            {% if(comprobantes is empty) and (comprobantesBorrados is empty) %}
                <div class="note note-danger">
                    <h4 class="block">Error en el reenv&iacute;o a AFIP</h4>
                </div>
            {% endif %}
            {% if(comprobantes is not empty) %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box blue-chambray">
                            <div class="portlet-title">
                                <div class="caption">Facturas electr&oacute;nicas generadas</div>
                                <div class="tools">
                                    <a class="collapse" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered datatable table-striped table-condensed flip-content" id="table-comprobantes-generados-electronicos">
                                        <thead>                            
                                            <tr class="replace-inputs filter">
                                                <th></th>
                                                <th>Fecha</th>
                                                <th>Letra comprobante</th>
                                                <th>Punto de venta</th>
                                                <th>N&ordm; contrato</th>
                                                <th>CAE</th>
                                                <th>Vencimiento CAE</th>
                                                <th>Cliente</th>
                                                <th>Cuil/DNI</th>
                                                <th>Detalle comprobante</th>
                                                <th>Monto neto</th>
                                                <th>IVA</th>
                                                <th>Perc. IIBB</th>
                                                <th>Perc. IVA</th>
                                                <th>Total</th>
                                            </tr>
                                            <tr class="headers">
                                                <th class="no-order entity_id"></th>
                                                <th>Fecha</th>
                                                <th>Letra comprobante</th>
                                                <th>Punto de venta</th>
                                                <th>N&ordm; contrato</th>
                                                <th>CAE</th>
                                                <th>Vencimiento CAE</th>
                                                <th>Cliente</th>
                                                <th>Cuil/DNI</th>
                                                <th>Detalle comprobante</th>
                                                <th currency>Monto neto</th>
                                                <th currency>IVA</th>
                                                <th currency>Perc. IIBB</th>
                                                <th currency>Perc. IVA</th>
                                                <th currency>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for indice,comprobante in comprobantes%}
                                                <tr>
                                                    <td>{{ indice }}</td>
                                                    <td>{{ comprobante.fechaComprobante|date('d/m/Y') }}</td>
                                                    <td>{{ comprobante.letraComprobante }}</td>
                                                    <td>{{ comprobante.puntoVenta }}</td>
                                                    <td class="nowrap">{{ comprobante.contrato.numeroContrato }}</td>
                                                    <td class="nowrap">{{ comprobante.caeNumero }}</td>
                                                    <td class="nowrap">{{ comprobante.caeVencimiento|date('d/m/Y') }}</td>
                                                    <td>{{ comprobante.contrato.cliente }}</td>
                                                    <td class="nowrap">{{ comprobante.contrato.cliente.cuit }}</td>
                                                    <td>{{ comprobante.observaciones }}</td>
                                                    <td class="nowrap">{{ comprobante.importeTotalNeto|money_format }}</td>
                                                    <td class="nowrap">{{ comprobante.importeTotalIVA|money_format }}</td>
                                                    <td class="nowrap">{{ comprobante.importeTotalPercepcionByConcepto(conceptoPercepcionIIBB)|money_format }}</td>
                                                    <td class="nowrap">{{ comprobante.importeTotalPercepcionByConcepto(conceptoPercepcionIVA)|money_format }}</td>
                                                    <td class="nowrap">{{ comprobante.totalMCL|money_format }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if(comprobantesBorrados is not empty) %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet box red">
                            <div class="portlet-title">
                                <div class="caption">Facturas electr&oacute;nicas borrados</div>
                                <div class="tools">
                                    <a class="collapse" href="javascript:;"></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered datatable table-striped table-condensed flip-content" id="table-comprobantes-generados-electronicos">
                                        <thead>                            
                                            <tr class="replace-inputs filter">
                                                <th></th>
                                                <th>Fecha</th>
                                                <th>Letra comprobante</th>
                                                <th>Punto de venta</th>
                                                <th>N&ordm; contrato</th>+
                                                <th>Cliente</th>
                                                <th>Cuil/DNI</th>
                                                <th>Detalle comprobante</th>
                                                <th>Monto neto</th>
                                                <th>IVA</th>
                                                <th>Perc. IIBB</th>
                                                <th>Perc. IVA</th>
                                                <th>Total</th>
                                            </tr>
                                            <tr class="headers">
                                                <th class="no-order entity_id"></th>
                                                <th>Fecha</th>
                                                <th>Letra comprobante</th>
                                                <th>Punto de venta</th>
                                                <th>N&ordm; contrato</th>
                                                <th>Cliente</th>
                                                <th>Cuil/DNI</th>
                                                <th>Detalle comprobante</th>
                                                <th currency>Monto neto</th>
                                                <th currency>IVA</th>
                                                <th currency>Perc. IIBB</th>
                                                <th currency>Perc. IVA</th>
                                                <th currency>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for indice,comprobante in comprobantesBorrados%}
                                                <tr>
                                                    <td>{{ indice }}</td>
                                                    <td>{{ comprobante.fechaComprobante|date('d/m/Y') }}</td>
                                                    <td>{{ comprobante.letraComprobante }}</td>
                                                    <td>{{ comprobante.puntoVenta }}</td>
                                                    <td class="nowrap">{{ comprobante.contrato.numeroContrato }}</td>
                                                    <td>{{ comprobante.contrato.cliente }}</td>
                                                    <td class="nowrap">{{ comprobante.contrato.cliente.cuit }}</td>
                                                    <td>{{ comprobante.observaciones }}</td>
                                                    <td class="nowrap">{{ comprobante.importeTotalNeto|money_format }}</td>
                                                    <td class="nowrap">{{ comprobante.importeTotalIVA|money_format }}</td>
                                                    <td class="nowrap">{{ comprobante.importeTotalPercepcionByConcepto(conceptoPercepcionIIBB)|money_format }}</td>
                                                    <td class="nowrap">{{ comprobante.importeTotalPercepcionByConcepto(conceptoPercepcionIVA)|money_format }}</td>
                                                    <td class="nowrap">{{ comprobante.totalMCL|money_format }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="form-actions">
                <button type="button" class="btn default button-back" 
                        back-url="{{ path('contrato') }}">
                    <i class="m-icon-swapleft"></i> Volver
                </button>
            </div>
        </div>
    </div>
{% endblock %}