{% extends '::base_reducido.html.twig' %}  

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset(theme_path ~ 'plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #table-cuenta-corriente tbody tr.tr-grouped td {
            padding: 0.5em 0.7em;
            background-color: #fff2a8;
        }
    </style>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {# Select2 #}
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2_locale_es.js') }}" type="text/javascript"></script>

    {# Datepicker #}
    <script src="{{ asset(js_path ~ 'config/form.js') }}"></script>
    <script src="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}" type="text/javascript"></script>

    {# DataTable #}
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/media/js/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'lib/jquery.dataTables.columnFilter.js') }}" ></script>
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/data-tables/DT_bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'config/dataTables.js') }}"  type="text/javascript"></script>

    {# PriceFormat #}
    <script src="{{ asset(js_path ~ 'lib/jquery.price_format.2.0.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset(js_path ~ 'custom/compras/proveedor/cuenta_corriente_obras.js') }}" ></script>


    <script type="text/javascript">
        var dt;
        $(document).ready(function(){
            dt = dt_datatable($('#table-cuenta-corriente-detalle'), {
                order : [[1, 'ASC']]
            });
        })
    </script>
{% endblock%}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        Cuenta corriente de obras de <b>{{ proveedor.clienteProveedor.razonSocial ~  ' - ' ~ proveedor.clienteProveedor.cuit }}</b> - Licitación: <b>{{ tramo.licitacion.numero }}</b> - Tramo: <b>{{ tramo }}</b>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        
                    </div>

                    <table 
                        class="table table-bordered table-striped flip-content table-condensed export-excel" 
                        id="table-cuenta-corriente-detalle" 
                        dataexport-title="proveedor-cuenta-corriente-detalle">
                        <thead>
                            <tr class="replace-inputs filter" style="display: none;">
                                <th class="entity_id"></th>
                                <th data-type="date">Fecha</th>
                                <th>Tipo de comprobante</th>
                                <th>N&ordm; de comprobante</th>
                                <th>Monto</th>
                                <th>Detalle</th>
                                <th>Saldo</th>
                                <th>Acciones</th>
                            </tr>
                            <tr class="headers">
                                <th class="no-order"></th>
                                <th numeric export-format="number" class="no-order nowrap text-center">N&ordm; de comprobante</th>
                                <th class="no-order text-center" date export-format="date">Fecha</th>
                                <th class="no-order text-center">Tipo de comprobante</th>
                                <th class="no-order text-center" currency>Monto</th>
                                <th class="no-order text-center">Detalle</th>
                                <th class="no-order text-center" currency>Saldo</th>
                                <th class="no-order text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set saldo = 0 %}
                            {% for comprobante in comprobantes_html %}
                                {% set resta = comprobante.deuda %}
                                {% set monto_comprobante = comprobante.monto %}
                                {% set saldo = (saldo + (resta ? -(monto_comprobante) : monto_comprobante))%}
                                <tr>
                                    <td>{{ comprobante.id }}</td>
                                    <td width="10%" class="text-center">
                                        <a target="_blank" href="{{ path(comprobante.es_op ? 'ordenpagoobra_show' : 'comprobanteobra_show', { 'id' : comprobante.id }) }}"> {{ comprobante.numero }}
                                        </a></td>
                                    <td width="10%" class="text-center">{{ comprobante.fecha|date('d/m/Y') }}</td>
                                    <td width="20%" class="text-{{ resta ? 'left' : 'right' }}">{{ comprobante.tipo }}</td>
                                    <td width="10%" class="text-{{ resta ? 'left' : 'right' }}">{{ monto_comprobante|money_format }}</td>
                                    <td width="30%" ></td>
                                    <td width="10%" class="text-right">{{ saldo|money_format }}</th>
                                    <td width="10%" class="text-center" width="10%">
                                        {# <a  class="btn btn-xs blue tooltips" 
                                            data-placement="left" 
                                            data-original-title="Ver comprobantes"
                                            href=""><i class="fa fa-letter">Comprobantes</i></a> #}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


