{% extends '::base_reducido.html.twig' %}  

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset(theme_path ~ 'plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #table-cuenta-corriente tbody tr.tr-grouped td {
            padding: 0.5em 0.7em;
            background-color: #fff2a8;
        }
    </style>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {# Select2 #}
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2_locale_es.js') }}" type="text/javascript"></script>

    {# Datepicker #}
    <script src="{{ asset(js_path ~ 'config/form.js') }}"></script>
    <script src="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}" type="text/javascript"></script>

    {# DataTable #}
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/media/js/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'lib/jquery.dataTables.columnFilter.js') }}" ></script>
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/data-tables/DT_bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'config/dataTables.js') }}"  type="text/javascript"></script>

    {# PriceFormat #}
    <script src="{{ asset(js_path ~ 'lib/jquery.price_format.2.0.min.js') }}" type="text/javascript"></script>

{% endblock%}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Cuenta corriente de obras de <b>{{ proveedor.clienteProveedor.razonSocial ~  ' - ' ~ proveedor.clienteProveedor.cuit }}</b></div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">

                    </div>
                    <table 
                        class="table table-bordered table-striped table-condensed flip-content datatable dt-multiselect export-excel" 
                        id="table-cuenta-corriente-obras"
                        dataexport-title="cuenta_corriente_obras">
                        <thead>
                            <tr class="replace-inputs filter">
                                <th></th>
                                <th>Licitaci&oacute;n</th>
                                <th>Tramo</th>
                                <th>Descripci&oacute;n</th>
                                <th>Tipo de obra</th>
                                <th>Monto total de contrato</th>
                                <th>Monto ejecutado</th>
                                <th>Saldo</th>
                                <th class="not-in-filter"></th>
                            </tr>
                            <tr class="headers">
                                <th class="no-order entity_id"></th>
                                <th>Licitaci&oacute;n</th>
                                <th>Tramo</th>
                                <th>Descripci&oacute;n</th>
                                <th>Tipo de obra</th>
                                <th>Monto total de contrato</th>
                                <th>Monto ejecutado</th>
                                <th>Saldo</th>
                                <th class="text-center no-order ctn_acciones">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tramo in tramos %}
                                <tr>
                                    <td>{{ tramo.tramo.id }} </td>
                                    <td>{{ tramo.tramo.licitacion }}</td>
                                    <td>{{ tramo.tramo }}</td>
                                    <td>{{ tramo.tramo.descripcion }}</td>
                                    <td>{{ tramo.tramo.tipoObra }}</td>
                                    <td class="text-right">{{ tramo.tramo.totalContrato|money_format }}</td>
                                    <td class="text-right">{{ tramo.saldo_ejecutado|money_format }}</td>
                                    <td class="text-right">{{ tramo.saldo }}</td>
                                    <td class="ctn_acciones text-center nowrap">
                                        <a  class="btn btn-xs blue tooltips" 
                                            data-placement="left" 
                                            data-original-title="Ver comprobantes"
                                            href="{{  
                                            path('proveedor_cta_cte_obras_detalle', { 
                                                'idProveedor': proveedor.id, 
                                                'idTramo': tramo.tramo.id 
                                            }) }}"><i class="fa fa-letter">Detalle</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
