{% extends '::base_reducido.html.twig' %}  

{% set EstadoComprobante = 'ADIF\\ContableBundle\\Entity\\EstadoComprobante' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset(theme_path ~ 'plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .resta {
            font-size: 11px;
        }
        .row-cc td {
            padding: 2px 1.3em 2px .5em !important;
        }
        .oscuro td {
            background-color: rgb(247, 247, 247);
            padding: 0px 1.3em 0px .5em !important;
        }
        .oscuro.row-cc {
            font-size: 11px;
        }
        .table>tbody>tr>td.borrar{
            border: none !important;
        }
    </style>
    <link href="{{ asset(css_path ~ 'compact.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}    
    {{ parent() }}
    
    {# DatePicker #}
    <script src="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'config/form.js') }}"></script>
    {# Select2 #}
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2_locale_es.js') }}" type="text/javascript"></script>

    {# DataTable #}
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/media/js/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'lib/jquery.dataTables.columnFilter.js') }}" ></script>
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/data-tables/DT_bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'config/dataTables.js') }}"  type="text/javascript"></script>

    {# PriceFormat #}
    <script src="{{ asset(js_path ~ 'lib/jquery.price_format.2.0.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset(js_path ~ 'custom/compras/proveedor/cc_detalle.js') }}" ></script> 

    <script type="text/javascript">
        document.body.classList.add('compact');
    </script>

{% endblock%}

{% block body -%}
    
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Cuenta corriente <b>{{ proveedor.clienteProveedor.razonSocial ~  ' - ' ~ proveedor.clienteProveedor.cuit }}</b></div>
                    <div class="caption pull-right">Saldo total: <b id="label_saldo_total">-</b></div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="adif_contablebundle_filtro_fechaFin" 
                                           class="control-label">Fecha filtro</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="hidden" id="adif_contablebundle_filtro_idProveedor" value="{{ proveedor.id }}" />
                                        <input type="text" id="adif_contablebundle_filtro_fechaFin" 
                                               name="adif_contablebundle_filtro[fechaFin]" 
                                               class="form-control datepicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <button class="btn btn-small blue-hoki form-control" id="filtrar_cc">
                                    Filtrar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="detalle_cc_container">
                    </div>
                </div>
            </div> 
        </div> 
    </div> 
    <div class="form-actions">
        <div class="pull-left">
            <button type="button" class="btn default button-back" 
                    back-url="{{ path( 'proveedor') }}">Volver</button>
        </div>
    </div>
{% endblock %}