<div class="row" index="{{ item.vars.id }}">
    {{ form_widget(item.provincia) }}
    {{ form_widget(item.linea) }}
    {{ form_widget(item.almacen) }}
    {{ form_widget(item.tipoMaterial) }}
    {{ form_widget(item.grupoMaterial) }}
    {{ form_widget(item.estadoConservacion) }}
    {{ form_widget(item.idEmpresa)}}
    {{ form_widget(item.inventario)}}
</div>