{% extends '::base.html.twig' %}  

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset(css_path ~ 'compact.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">R&eacute;gimen de retenci&oacute;n</div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-sm green tooltips" data-placement="right" 
                               data-original-title="Crear r&eacute;gimen de retenci&oacute;n" 
                               href=" {{ path( 'regimenretencion_new') }} ">
                                Crear r&eacute;gimen de retenci&oacute;n <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <table 
                        class="table table-bordered table-striped table-condensed 
                        flip-content datatable dt-multiselect export-excel" 
                        id="table-regimenretencion"
                        dataexport-title="regimenretencion">
                        <thead>
                            <tr class="replace-inputs filter">
                                <th></th>
                                <th class="not-in-filter"></th>
                                <th>Denominaci&oacute;n</th>
                                <th>Impuesto</th>
                                <th>Cuenta contable</th>
                                <th>M&iacute;nimo exento</th>
                                <th>M&iacute;nimo no imponible</th>
                                <th>Alicuota</th>
                                <th>M&iacute;nimo retenci&oacute;n</th>
                                <th class="not-in-filter"></th>
                            </tr>
                            <tr class="headers">
                                <th class="no-order entity_id"></th>
                                <th class="text-center table-checkbox no-order">
                                    <input type="checkbox" class="group-checkable" data-set="#table-regimenretencion .checkboxes" />
                                </th>
                                <th>Denominaci&oacute;n</th>
                                <th>Impuesto</th>
                                <th>Cuenta contable</th>
                                <th currency class="text-center">M&iacute;nimo exento</th>
                                <th currency class="text-center">M&iacute;nimo no imponible</th>
                                <th class="text-center">Alicuota</th>
                                <th currency class="text-center">M&iacute;nimo retenci&oacute;n</th>
                                <th class="text-center no-order ctn_acciones">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td> {{ entity.id }} </td>
                                    <td class="text-center">
                                        <input type="checkbox" class="checkboxes" value="" />
                                    </td>                        
                                    <td class="nowrap">{{ entity.denominacion }}</td>
                                    <td>{{ entity.tipoImpuesto.denominacion }}</td>
                                    <td>{{ entity.cuentaContable }}</td>
                                    <td class="text-right">{{ (entity.minimoExento|money_format)|default('-') }}</td>
                                    <td class="text-right">{{ (entity.minimoNoImponible|money_format)|default('-') }}</td>
                                    <td class="text-center">{{ entity.alicuota|currency_format ~ ' %' }}</td>
                                    <td class="text-right">{{ (entity.minimoRetencion|money_format)|default('-') }}</td>
                                    <td class="ctn_acciones text-center nowrap">
                                        <a href=" {{ path( 'regimenretencion_show', { 'id': entity.id }) }} " 
                                           class="btn btn-xs blue tooltips" data-original-title="Ver detalle">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href=" {{ path( 'regimenretencion_edit', { 'id': entity.id }) }} " 
                                           class="btn btn-xs green tooltips" data-original-title="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}

    {{ parent() }}   

    <script type="text/javascript">
        document.body.classList.add('compact');
    </script>

{% endblock %}
