{% extends '::base.html.twig' %}

{% block stylesheets %}    

    {{ parent() }}

    <link href="{{ asset(css_path ~ 'compact.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% set edit = form.vars.value.id != null %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">R&eacute;gimen de retenci&oacute;n</div>

            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            {{ form_start(form, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}

            {% include ':Form:fieldsErrors.html.twig' %}


            {% if edit %} 
                <input type="hidden" name="_method" value="PUT" />
            {% endif %} 

            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.tipoImpuesto) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.tipoImpuesto) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.denominacion) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.denominacion) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.codigoSiap) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.codigoSiap) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            {{ form_label(form.descripcion) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.descripcion) }}
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-5">
                        <div class="form-group">
                            {{ form_label(form.cuentaContable) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.cuentaContable) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.asociableBienEconomico) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.asociableBienEconomico) }}
                            </div>
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.minimoExento) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.minimoExento) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.minimoNoImponible) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.minimoNoImponible) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.alicuota) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.alicuota) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.minimoRetencion) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.minimoRetencion) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>                

            <div class="form-actions">
                <div class="pull-left">
                    <button type="button" class="btn default button-back" 
                            back-url="{{ path('regimenretencion') }}">Cancelar</button>
                </div>
                <div class="pull-right">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn blue'}}) }}
                </div>
            </div>

            {{ form_widget(form._token) }}

            {{ form_end(form, {"render_rest": false}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}   

    <script type="text/javascript">
        document.body.classList.add('compact');
    </script>

{% endblock %}
