{% extends '::base.html.twig' %}  

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset(css_path ~ 'custom/contable/presupuesto/epe.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">EPE 8 - Dotaci&oacute;n de personal y movimientos de dotaci&oacute;n</div>
                </div>

                <div class="portlet-body">        

                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="adif_contablebundle_filtro_ejercicio" 
                                           class="control-label">Ejercicio</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="adif_contablebundle_filtro_ejercicio" 
                                               name="adif_contablebundle_filtro[ejercicio]" 
                                               class="form-control nomask novalidate">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="adif_contablebundle_filtro_fechaInicio" 
                                           class="control-label">Mes inicio</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="adif_contablebundle_filtro_fechaInicio" 
                                               data-mes=""
                                               name="adif_contablebundle_filtro[fechaInicio]" 
                                               class="form-control nomask novalidate">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="adif_contablebundle_filtro_fechaFin" 
                                           class="control-label">Mes fin</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="adif_contablebundle_filtro_fechaFin"
                                               data-mes=""
                                               name="adif_contablebundle_filtro[fechaFin]" 
                                               class="form-control nomask novalidate">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <button  id="filtrar_epe" class="btn btn-small blue-hoki form-control">
                                    Filtrar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row cleardiv">
                        <div class="col-md-12">
                            <div class="portlet box reporte-portlet">
                                <div class="portlet-title">

                                    <div class="caption reporte_title" style="display:none">

                                        <span class="bold">
                                            EPE 8                                              
                                        </span>

                                        — Ejercicio <span class="caption-ejercicio bold"></span>

                                        desde <span class="caption-fecha-desde bold"></span>

                                        hasta <span class="caption-fecha-hasta bold"></span>
                                    </div>

                                    <div class="export-tools">
                                    </div>
                                </div>
                                <div class="portlet-body epe_content">
                                    <div class="portlet box reporte-portlet">
                                        <div class="portlet-title">
                                            <div class="caption reporte_title">DOTACION DE PERSONAL</div>
                                        </div>
                                        <div class="portlet-body epe_content">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover 
                                                       table-bordered table-condensed export-custom" 
                                                       id="epe_8_table_dotacion_personal" dataexport-title="EPE_8">
                                                    <thead>
                                                        <tr class="headers">
                                                            <th class="text-center">CONCEPTO</th>
                                                            <th class="text-center">MES</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet box reporte-portlet">
                                        <div class="portlet-title">
                                            <div class="caption reporte_title">MOVIMIENTOS DE LA DOTACION</div>
                                        </div>
                                        <div class="portlet-body epe_content">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover 
                                                       table-bordered table-condensed export-custom"
                                                       id="epe_8_table_movimientos_dotacion">
                                                    <thead>
                                                        <tr class="headers">
                                                            <th class="text-center">CONCEPTO</th>
                                                            <th class="text-center">MES</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset(theme_path ~ 'plugins/jquery-autonumeric/autoNumeric.js') }}" ></script>

    <script src="{{ asset('js/custom/contable/presupuesto/reporte_epe.js') }}" ></script>
    <script src="{{ asset('js/custom/contable/presupuesto/reporte_epe_8.js') }}" ></script>

{% endblock %}