{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-primary panel-table">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Cambiar contraseña</h3>
            <span>Se actualiza la contraseña</span>
        </div>
        <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
            <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            
            <div class="row">
                <div class="col-sm-3 form_field"> 
                    {{ form_label(form.current_password) }}
                    <div class="form_field">
                        {{ form_errors(form.current_password) }}
                        {{ form_widget(form.current_password, {'attr': {'class':'form-control','placeholder':'Escriba su contraseña actual','tabindex':'5'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form_field"> 
                    {{ form_label(form.plainPassword.first) }}
                    <div class="form_field">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 form_field"> 
                    {{ form_label(form.plainPassword.second) }}
                    <div class="form_field">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
            </div>
            
            {{ form_rest(form) }}
            
            <div class="row">
                <div class="clear"></div><br>
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default btn-icon icon-left button-back">Volver<i class="entypo-left"></i></button>
                    <input type="submit" class="btn btn-green pull-right" tabindex="5" value="{{ 'change_password.submit'|trans }}" />
                </div>
            </div>
        </form>
    </div>
</div>
