<div class="row">                        
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.fechaRequerimiento) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.fechaRequerimiento) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.numeroReferencia) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.numeroReferencia) }}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            {{ form_label(form.descripcion) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.descripcion) }}
            </div>
        </div>
    </div>
</div>