{% extends '::base_reducido.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {# DatePicker #}
    <link href="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/css/datepicker.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset(css_path ~ 'compact.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% set edit = form.vars.value.id != null %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">Orden de compra</div>

            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            {{ form_start(form, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}

            {% include ':Form:fieldsErrors.html.twig' %}

            {% if edit %} 
                <input type="hidden" name="_method" value="PUT" />
            {% endif %} 

            <div class="form-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.fechaOrdenCompra) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.fechaOrdenCompra) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.numeroCarpeta) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.numeroCarpeta) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.proveedor) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.proveedor) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row cleardiv">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.tipoPago) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.tipoPago) }}
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.tipoContratacion) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.tipoContratacion) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.condicionPago) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.condicionPago) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form_label(form.fechaEntrega) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.fechaEntrega) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row cleardiv">
                    {% include '@ADIFCompras/OrdenCompra/new.domicilio.html.twig' with {'domicilio': form.domicilioEntrega}  %}
                </div>

                <div class="row cleardiv">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.observacion) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.observacion) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>                

            <div class="form-actions">
                <div class="pull-left">
                    <button type="button" class="btn default button-back" 
                            back-url="{{ path('ordenescompra') }}">Cancelar</button>
                </div>
                <div class="pull-right">                    
                    {{ form_widget(form.save, {'attr': {'class': 'btn dark'}}) }}

                    {{ form_widget(form.generate, {'attr': {'class': 'btn blue'}}) }}
                </div>
            </div>

            {{ form_widget(form._token) }}

            {{ form_end(form, {"render_rest": false}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {# Select2 #}
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2_locale_es.js') }}" type="text/javascript"></script>

    {# Validator #}
    <script src="{{ asset(theme_path ~ 'plugins/jquery-validation/dist/jquery.validate.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'lib/jquery.validate.messages_es.js') }}" type="text/javascript"></script>

    {# DatePicker #}
    <script src="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}" type="text/javascript"></script>

    {# Config #}
    <script src="{{ asset(js_path ~ 'config/validation.js') }}"></script>
    <script src="{{ asset(js_path ~ 'config/form.js') }}"></script>

    <script src="{{ asset(js_path ~ 'custom/compras/ordencompra/new.js') }}" ></script>

    <script type="text/javascript">
        document.body.classList.add('compact');
    </script>

{% endblock %}
