
{{ form_widget(form.contratoOrigen) }}

{{ form_widget(form.categoriaContrato) }}

{{ form_widget(form.claseContrato) }}

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(form.numeroContrato) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.numeroContrato) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.numeroCarpeta) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.numeroCarpeta) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.fechaInicio) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.fechaInicio) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.fechaFin) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.fechaFin) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.esHonorarioProfesional) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.esHonorarioProfesional) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.importeTotal) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.importeTotal) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.tipoMoneda) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.tipoMoneda) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.estadoContrato) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.estadoContrato) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.gerencia) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.gerencia) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.subgerencia) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.subgerencia) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.area) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.area) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.observacion) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.observacion) }}
            </div>
        </div>
    </div>
</div>