{% extends '::base.html.twig' %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Detalles del contrato de locaci&oacute;n: <strong>{{ entity }}</strong>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>                
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Tipo</label>
                        <div class="detalle_show">{{ entity.claseContrato }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">N&ordm; contrato</label>
                        <div class="detalle_show">{{ entity.numeroContrato|default('-') }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Consultor</label>
                        <div class="detalle_show">{{ entity.consultor.cuitAndRazonSocial }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <div class="detalle_show">{{ entity.estadoContrato }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">N&ordm; carpeta</label>
                        <div class="detalle_show">{{ entity.numeroCarpeta|default('-') }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Fecha inicio</label>
                        <div class="detalle_show">{{ entity.fechaInicio|date('d/m/Y') }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Fecha fin</label>
                        <div class="detalle_show">{{ entity.fechaFin|date('d/m/Y') }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Importe original</label>
                        <div class="detalle_show">{{ entity.importeTotal|money_format(entity.simboloTipoMoneda) }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Gerencia</label>
                        <div class="detalle_show">{{ entity.gerencia|default('-') }}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Subgerencia</label>
                        <div class="detalle_show">{{ entity.subgerencia|default('-') }}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">&Aacute;rea</label>
                        <div class="detalle_show">{{ entity.area|default('-') }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Observaci&oacute;n</label>
                        <div class="detalle_show">{{ entity.observacion|default('-') }}</div>
                    </div>
                </div>
            </div>

            <fieldset class="cleardiv margin-top-20">
                <legend>Ciclos de facturaci&oacute;n</legend>

                {% if entity.ciclosFacturacion is not empty %}
                    <table class="table datatable table-bordered table-striped" 
                           id="table-ciclo-facturacion">
                        <thead>
                            <tr class="headers">
                                <th date class="nowrap">Fecha inicio</th>
                                <th date class="nowrap">Fecha fin</th>
                                <th class="nowrap">Cantidad</th>
                                <th numeric class="nowrap">Cantidad de facturas pendientes</th>                    
                                <th currency >Importe</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cicloFacturacion in entity.ciclosFacturacion %}
                                <tr>
                                    <td class="nowrap">{{ cicloFacturacion.fechaInicio|date('d/m/Y') }}</td>
                                    <td class="nowrap">{{ cicloFacturacion.fechaFin|date('d/m/Y') }}</td>
                                    <td class="nowrap">{{ cicloFacturacion.cantidadUnidadTiempo ~ ' ' ~ cicloFacturacion.unidadTiempo }}</td>
                                    <td class="nowrap">{{ cicloFacturacion.cantidadFacturasPendientes }}</td>
                                    <td>{{ cicloFacturacion.importe|money_format(entity.simboloTipoMoneda) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <span>El contrato no contiene ciclos de facturaci&oacute;n.</span>
                {% endif %}
            </fieldset>

            <div class="form-actions">
                <button type="button" class="btn default button-back" 
                        back-url="{{ path('contratoconsultoria') }}">
                    <i class="m-icon-swapleft"></i> Volver
                </button>
            </div>
        </div>
    </div>
{% endblock %}
