{% extends '::base.html.twig' %}


{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Detalles de la cuenta bancaria: <strong>{{ entity }}</strong>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>                
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">                 
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Banco</label>
                        <div class="detalle_show">    
                            {{ entity.idBanco }}         
                        </div>
                    </div>
                </div>    
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Tipo cuenta</label>
                        <div class="detalle_show">       
                            {{ entity.idTipoCuenta }}
                        </div>
                    </div>
                </div>               
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">N&ordm; sucursal</label>
                        <div class="detalle_show">    
                            {{ entity.numeroSucursal|default('-') }}         
                        </div>
                    </div>
                </div>             
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">N&ordm; cuenta</label>
                        <div class="detalle_show">    
                            {{ entity.numeroCuenta|default('-') }}         
                        </div>
                    </div>
                </div>           
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">CBU</label>
                        <div class="detalle_show">    
                            {{ entity.cbu }}         
                        </div>
                    </div>
                </div>     
            </div>

            <div class="row">                 
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Cuenta contable</label>
                        <div class="detalle_show">    
                            {{ entity.cuentaContable|default('-') }}         
                        </div>
                    </div>
                </div>  
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Tipo de moneda</label>
                        <div class="detalle_show">    
                            {{ entity.tipoMoneda|default('-') }}         
                        </div>
                    </div>
                </div>                           
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Activa</label>
                        <div class="detalle_show">    
                            {{ entity.estaActiva ? 'Si' : 'No' }}         
                        </div>
                    </div>
                </div>  
            </div>  

            <div class="form-actions">
                <button type="button" class="btn default button-back" 
                        back-url="{{ path('cuentas_adif') }}">
                    <i class="m-icon-swapleft"></i> Volver
                </button>
            </div>
        </div>
    </div>
{% endblock %}
