<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>
    {% block title %}
        {% if page_title is defined %}
            {{ page_title ~ ' | '}}
        {% endif %}
        {% if application_name is defined %}
            {{ application_name ~ ' | '}}
        {% endif %}
        {{ multiempresa_service.organizationName }}
    {% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>

    {% set theme_path   = 'theme/' %}
    {% set js_path      = 'js/' %}
    {% set css_path     = 'css/' %}
    {% set image_path   = 'images/' %}

    {% block stylesheets %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
{#        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>#}
        <link href="{{ asset(theme_path ~ 'plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(theme_path ~ 'plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(theme_path ~ 'plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link rel="stylesheet" type="text/css" href="{{ asset(theme_path ~ 'plugins/select2/select2.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset(theme_path ~ 'plugins/select2/select2-metronic.css') }}"/>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME STYLES -->
        <link href="{{ asset(theme_path ~ 'css/style-metronic.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(theme_path ~ 'css/style.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(theme_path ~ 'css/style-responsive.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(theme_path ~ 'css/plugins.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(theme_path ~ 'css/themes/default.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{{ asset(theme_path ~ 'css/pages/login-soft.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(css_path ~ 'login.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset(css_path ~ 'fonts.css') }}" rel="stylesheet" type="text/css"/>
        
        <!-- END THEME STYLES -->
    {% endblock %}

        <link rel="shortcut icon" href="{{ asset(image_path ~ 'adifse.png') }}" type="image/x-icon" />
    </head>
    
    {% block fos_user_content %}
    {% endblock fos_user_content %}

</html>

