{% extends '::base_reducido.html.twig' %} 

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset(theme_path ~ 'plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />

{% endblock%} 

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Entidades autorizantes</div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a class="btn btn-sm green tooltips" 
                               data-placement="right" data-original-title="Crear entidad autorizante" 
                               href=" {{ path( 'entidadautorizante_new') }} ">
                                Crear entidad autorizante <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>

                    <table 
                        class="table table-bordered table-striped table-condensed flip-content 
                        dt-multiselect export-excel" id="table-entidadautorizante" 
                        dataexport-title="entidadautorizante">
                        <thead>
                            <tr class="replace-inputs filter">
                                <th class="entity_id"></th>
                                <th class="not-in-filter"></th>
                                <th>Denominaci&oacute;n</th>
                                <th>Grupo</th> 
                                <th>Monto desde</th>
                                <th>Monto hasta</th>                
                                <th class="not-in-filter"></th>
                            </tr>
                            <tr class="headers">
                                <th class="no-order"></th>
                                <th class="text-center table-checkbox no-order">
                                    <input type="checkbox" class="group-checkable" data-set="#table-entidadautorizante .checkboxes" />
                                </th>
                                <th>Denominaci&oacute;n</th>
                                <th>Grupo</th> 
                                <th currency >Monto desde</th>
                                <th currency >Monto hasta</th>                  
                                <th class="text-center no-order ctn_acciones">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td class="text-center">
                                        <input type="checkbox" class="checkboxes" value="" />
                                    </td>
                                    <td>{{ entity.denominacionEntidadAutorizante }}</td>
                                    <td>{{ entity.grupo }}</td>
                                    <td class="text-right">{{ entity.montoDesde|money_format }}</td>                            
                                    <td class="text-right">{{ entity.montoHasta|money_format }}</td>                            
                                    <td class="ctn_acciones text-center nowrap">
                                        <a href=" {{ path( 'entidadautorizante_show', { 'id': entity.id }) }} " 
                                           class="btn btn-xs blue tooltips" data-original-title="Ver detalle">
                                            <i class="fa fa-search"></i>
                                        </a>
                                        <a href=" {{ path( 'entidadautorizante_edit', { 'id': entity.id }) }} " 
                                           class="btn btn-xs green tooltips" data-original-title="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        {% if is_granted('ROLE_COMPRAS_ELIMINACION') %}
                                            <a href=" {{ path( 'entidadautorizante_delete', { 'id': entity.id }) }} " 
                                               class="btn btn-xs red accion-borrar tooltips" data-original-title="Eliminar">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {# Select2 #}
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/select2/select2_locale_es.js') }}" type="text/javascript"></script>

    {# DataTable #}
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'lib/jquery.dataTables.columnFilter.js') }}" ></script>
    <script src="{{ asset(js_path ~ 'lib/DataTables-1.10.2/extensions/TableTools/js/dataTables.tableTools.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset(theme_path ~ 'plugins/data-tables/DT_bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset(js_path ~ 'config/dataTables.js') }}"  type="text/javascript"></script>
    
    <script>

        dt_init($('#table-entidadautorizante'));

        $('#table-entidadautorizante').DataTable().order([4, 'asc']).draw();
    </script>
    
{% endblock%}