<li class="dropdown-submenu">
    <a href="">
        Materiales Rodantes
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('marca') }}">
                Marcas
            </a>
        </li>
        <li>
            <a href="{{ path('modelo') }}">
                Modelos
            </a>
        </li>
        <li>
            <a href="{{ path('servicio') }}">
                Servicios
            </a>
        </li>
        <li>
            <a href="{{ path('tipomovimientorodante') }}">
                Tipos de Movimiento
            </a>
        </li>
        <li>
            <a href="{{ path('tiporodante') }}">
                Tipos de Rodante
            </a>
        </li>
    </ul>
</li>
