<li class="dropdown-submenu">
    <a href="">
        Activos Lineales
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('atributo') }}">
                Atributos
            </a>
        </li>
        <li>
            <a href="{{ path('categorizacion') }}">
                Categorizaciones
            </a>
        </li>
        <li>
            <a href="{{ path('corredor')}}">
                Corredores
            </a>
        </li>
        <li>
            <a href="{{ path('divisiones')}}">
                Divisiones
            </a>
        </li>
        <li>
            <a href="{{ path('tipovia') }}">
                Tipos de V&iacute;a
            </a>
        </li>
        <li>
            <a href="{{ path('tipoactivo') }}">
                Tipos de Activo Lineal
            </a>
        </li>
        <li>
            <a href="{{ path('valoresatributo') }}">
                Valores de Atributos
            </a>
        </li>
    </ul>
</li>
