<li class="dropdown-submenu">
    <a href="">
        General
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('fabricante') }}">
                Fabricantes
            </a>
        </li>
        <li>
            <a href="{{ path('EstadoConservacion') }}">
                Estados de Conservaci&oacute;n
            </a>
        </li>
        <li>
            <a href="{{ path('estacion') }}">
                Estaciones
            </a>
        </li>
        <li>
            <a href="{{ path('linea')}}">
                L&iacute;neas
            </a>
        </li>
        <li>
            <a href="{{ path('operador')}}">
                Operadores
            </a>
        </li>
        <li>
            <a href="{{ path('ramal')}}">
                Ramales
            </a>
        </li>
        <li>
            <a href="{{ path('unidadmedida') }}">
                Unidades de Medida
            </a>
        </li>
        <li>
            <a href="{{ path('propiedades') }}">
                Propiedades
            </a>
        </li>
        <li>
            <a href="{{ path('propiedadvalor') }}">
                Valores por Propiedad
            </a>
        </li>
    </ul>
</li>
