<li class="dropdown-submenu">
    <a href="">
        Materiales Nuevos y Producidos de Obra
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('almacen') }}">
                Almacenes
            </a>
        </li>
        <li>
            <a href="{{ path('estadoservicio') }}">
                Estado de Situación
            </a>
        </li>
        <li>
            <a href="{{ path('grupomaterial') }}">
                Grupos de Materiales
            </a>
        </li>
        <li>
            <a href="{{ path('tipomaterial') }}">
                Tipos de Material
            </a>
        </li>
        <li>
            <a href="{{ path('tiposmovimientomaterial') }}">
                Tipos de Movimientos
            </a>
        </li>
        <li>
            <a href="{{ path('origen') }}">
                Or&iacute;genes
            </a>
        </li>
    </ul>
</li>
