<div class="row" index="{{ key|default('__item_hoja_ruta__') }}">
    {{ form_widget(item.operador) }}
    {{ form_widget(item.linea) }}
    {{ form_widget(item.estacion) }}
    {{ form_widget(item.grupoRodante) }}
    {{ form_widget(item.tipoRodante) }}
    {{ form_widget(item.numeroVehiculo) }}
    {{ form_widget(item.idEmpresa)}}
    {{ form_widget(item.materialRodante)}}
</div>
