  
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(segmento.tipoSegmento) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(segmento.tipoSegmento) }}
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            {{ form_label(segmento.posicion) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(segmento.posicion) }}
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            {{ form_label(segmento.longitud) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(segmento.longitud) }}
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            {{ form_label(segmento.separador) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(segmento.separador) }}
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(segmento.indicaCentroDeCosto) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(segmento.indicaCentroDeCosto) }}
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(segmento.denominacionSegmento) }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(segmento.denominacionSegmento) }}
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <a href="#" class="btn btn-sm red delete-link-inline eliminar-segmento-link accion-borrar">
            <i class="fa fa-times-circle"></i>
        </a>                    
    </div>
</div>