<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">Datos generales</div>
    </div>

    <div class="portlet-body form">
        <div class="row" style="padding-left: 10px">
	        <div class="col-md-2">
	            <div class="form-group">
                        <label class="control-label"> Número Interno</label>
                        <div class="detalle_show"> {{ entity.numeroInterno|default('-') }} </div>
	            </div>
	        </div>
	        <div class="col-md-1">
	            <div class="form-group">
                        <label class="control-label"> NUM </label>
	                <div class="detalle_show"> {{ entity.num|default('-') }} </div>
	            </div>
	        </div>
	        <div class="col-md-3">
	            <div class="form-group">
	                <label class="control-label"> Grupo de Material </label>
	                <div class="detalle_show"> {{ entity.grupoMaterial|default('-') }} </div>
	            </div>
	        </div>
	        <div class="col-md-2">
	            <div class="form-group">
	                <label class="control-label"> Valor </label>
	                <div class="detalle_show"> {{ entity.valor|default('-') }} </div>
	            </div>
	        </div>
	        <div class="col-md-2">
	            <div class="form-group">
                        <label class="control-label"> Tipo de Valor </label>
	                <div class="detalle_show"> {{ entity.tipoValor|default('-') }} </div>
	            </div>
	        </div>
    	</div>

        <div class="row" style="padding-left: 10px">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Descripción </label>
                    <div class="detalle_show"> {{ entity.denominacion|default('-') }} </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Descripción para otros lenguajes </label>
                    <div class="detalle_show"> {{ entity.denominacionOtroLenguaje|default('-') }} </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-left: 10px">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> Código de Barras </label>
                    <div class="detalle_show"> {{ entity.codigoBarra|default('-') }} </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label"> ¿Es Item de Inventario? </label>
                    <div class="detalle_show">
                        {% if entity.participaInventario %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label"> ¿Es Item para Compras? </label>
                    <div class="detalle_show">
                        {% if entity.participaInventario %}
                            Si
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {# { form_label(form.observacion) } #}
                    <label class="control-label"> Estado </label>
                    {#<div class="input-icon right">
                        <i class="fa"></i>
                         { form_widget(form.observacion) }

                    </div>#}
                    <div class="detalle_show"> {{ entity.estadoInventario|default('-') }} </div>
                </div>
            </div>
        </div>
                
        <div class="row" style="padding-left: 10px">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Cuenta Contable </label>
                    <div class="detalle_show"> {{ entity.cuentaContable|default('-') }} </div>
                </div>
            </div>
                    
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Metodo de Valoración </label>
                    <div class="detalle_show"> {{ entity.metodoValoracion|default('-') }} </div>
                </div>
            </div>
        </div>
                
    </div>

</div>
