{% extends '::base.html.twig' %}  

{% set ConstanteTipoOperacionContable = 'ADIF\\ContableBundle\\Entity\\Constantes\\ConstanteTipoOperacionContable' %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset(css_path ~ 'custom/contable/asientocontable/asientocontable.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset(theme_path ~ 'plugins/jstree/dist/themes/default/style.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset(css_path ~ 'compact.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Libro mayor</div>
                </div>

                <div class="portlet-body">        

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="adif_contablebundle_filtro_cuentaContable" 
                                       class="control-label">Cuenta contable</label>
                                <a href=#" data-original-title="Buscar cuenta contable"
                                   class="pull-right label label-sm label-success tooltips btn-search-cuenta-contable">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <select class="choice form-control" id="adif_contablebundle_filtro_cuentaContable" 
                                            name="adif_contablebundle_filtro[cuentaContable]">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="adif_contablebundle_filtro_fechaInicio" 
                                           class="control-label">Fecha inicio</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="adif_contablebundle_filtro_fechaInicio" 
                                               name="adif_contablebundle_filtro[fechaInicio]" 
                                               class="form-control datepicker">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="adif_contablebundle_filtro_fechaFin" 
                                           class="control-label">Fecha fin</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="adif_contablebundle_filtro_fechaFin" 
                                               name="adif_contablebundle_filtro[fechaFin]" 
                                               class="form-control datepicker">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <button class="btn btn-small blue-hoki form-control" id="filtrar_libro_mayor">
                                    Filtrar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row cleardiv">
                        <div class="col-md-12">
                            <div class="portlet box reporte-portlet">
                                <div class="">
                                    <div class="caption reporte_contable_title" style="display:none">
                                        <span class="caption-cuenta-contable bold"></span>
                                        — <span class="caption-fecha-desde bold"></span>
                                        - <span class="caption-fecha-hasta bold"></span>
                                    </div>                                    
                                    <div class="export-tools">
                                    </div>

                                </div>
                                <div class="portlet-body libro_mayor_content">

                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-bordered table-condensed export-custom" 
                                               id="libro_mayor_table" 
                                               dataexport-title="Libro_Mayor" 
                                               dataexport-title-alternativo="" 
                                               style="display:none">
                                            <thead>
                                                <tr class="headers">
                                                    <th width="5%" class="text-middle">Id Asiento</th>
                                                    <th width="5%" class="text-middle" export-format="date">Fecha</th>
                                                    <th width="5%" class="text-middle">N&ordm; original</th>
                                                    <th width="5%" class="text-middle">N&ordm; asiento</th>
                                                    <th width="13%" class="text-middle">Concepto</th>
                                                    <th width="7%" class="text-middle" export-format="currency">Debe</th>
                                                    <th width="7%" class="text-middle" export-format="currency">Haber</th>
                                                    <th width="9%" class="text-middle" export-format="currency">Saldo</th>
                                                    <th width="17%" class="text-middle">T&iacute;tulo</th>
                                                    <th width="14%" class="text-middle">Raz&oacute;n social</th>
                                                    <th width="7%" class="text-middle">N&deg; documento</th>
                                                    <th width="11%" class="text-middle">Detalle</th>
                                                </tr>
                                            </thead> 
                                            <tfoot>
                                                <tr>
                                                    <td colspan="4" class="text-right tr-total">Total</td>
                                                    <td class="text-right nowrap hlt total-debe"></td>
                                                    <td class="text-right nowrap hlt total-haber"></td>
                                                </tr>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'ADIFContableBundle:CuentaContable:searchForm.html.twig'%}

{% endblock %} 

{% block javascripts %}

    {{ parent() }}

    <script>
        var $tipoOperacionDebe = "{{ constant(ConstanteTipoOperacionContable ~ '::DEBE') }}";
        var $tipoOperacionHaber = "{{ constant(ConstanteTipoOperacionContable ~ '::HABER') }}";
    </script>

    <script src="{{ asset(theme_path ~ 'plugins/jstree/dist/jstree.min.js') }}" ></script>

    <script src="{{ asset(js_path ~ 'custom/contable/cuentacontable/search.js') }}" ></script> 

    <script src="{{ asset('js/custom/contable/asientocontable/reporte.js') }}" ></script>

    <script src="{{ asset('js/custom/contable/asientocontable/libro_mayor.js') }}" ></script>

    <script type="text/javascript">
        document.body.classList.add('compact');
    </script>

{% endblock %}