{% extends '::base.html.twig' %}  

{% set ConstanteTipoOperacionContable = 'ADIF\\ContableBundle\\Entity\\Constantes\\ConstanteTipoOperacionContable' %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset(css_path ~ 'custom/contable/asientocontable/asientocontable.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body -%}

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">Libro subdiario</div>
                </div>

                <div class="portlet-body">        

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="adif_contablebundle_filtro_subdiario" 
                                       class="control-label">Subdiario</label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <select class="choice form-control" id="adif_contablebundle_filtro_subdiario"
                                            name="adif_contablebundle_filtro[subdiario">
                                        <option value=""> -- Subdiario --</option>
                                        {% for subdiario in subdiarios %}
                                            <option value="{{ subdiario.id }}"> {{ subdiario }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="adif_contablebundle_filtro_fechaInicio" 
                                           class="control-label">Fecha inicio</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="adif_contablebundle_filtro_fechaInicio" 
                                               name="adif_contablebundle_filtro[fechaInicio]" 
                                               class="form-control datepicker">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="adif_contablebundle_filtro_fechaFin" 
                                           class="control-label">Fecha fin</label>
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" id="adif_contablebundle_filtro_fechaFin" 
                                               name="adif_contablebundle_filtro[fechaFin]" 
                                               class="form-control datepicker">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label">&nbsp;</label>
                                <button class="btn btn-small blue-hoki form-control" id="filtrar_libro_subdiario">
                                    Filtrar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row cleardiv">
                        <div class="col-md-12">
                            <div class="portlet box reporte-portlet">
                                <div class="portlet-title">

                                    <div class="caption reporte_contable_title" style="display:none">

                                        <span class="bold">LIBRO SUBDIARIO</span>

                                        — <span class="caption-subdiario bold"></span>

                                        — desde <span class="caption-fecha-desde bold"></span>

                                        hasta <span class="caption-fecha-hasta bold"></span>
                                    </div>

                                    <div class="export-tools">
                                    </div>

                                </div>
                                <div class="portlet-body libro_subdiario_content">

                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-bordered table-condensed export-custom" 
                                               id="libro_subdiario_table" dataexport-title="Libro_SubDiario" style="display:none">
                                            <thead>
                                                <tr class="headers">
                                                    <th width="7%" class="text-center nowrap" export-format="date">Fecha</th>
                                                    <th width="7%" class="text-center nowrap">N&ordm; asiento</th>
                                                    <th width="10%" class="text-center th-cuenta-contable nowrap">Cuenta contable</th>
                                                    <th width="13%" class="text-center" export-format="currency">Debe</th>
                                                    <th width="13%" class="text-center" export-format="currency">Haber</th>
                                                    <th width="25%" class="text-center">Detalle</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block javascripts %}

    {{ parent() }}

    <script>
        var $tipoOperacionDebe = "{{ constant(ConstanteTipoOperacionContable ~ '::DEBE') }}";
        var $tipoOperacionHaber = "{{ constant(ConstanteTipoOperacionContable ~ '::HABER') }}";
    </script>

    <script src="{{ asset('js/custom/contable/asientocontable/reporte.js') }}" ></script>

    <script src="{{ asset('js/custom/contable/asientocontable/libro_subdiario.js') }}" ></script>

{% endblock %}