{% extends '::base.html.twig' %}


{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Detalles del egreso de valor: <strong>{{ entity.tipoEgresoValor }}</strong>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>                
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Tipo</label>
                        <div class="detalle_show">{{ entity.tipoEgresoValor }}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">N&ordm; carpeta</label>
                        <div class="detalle_show">{{ entity.carpeta }}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Gerencia</label>
                        <div class="detalle_show">{{ entity.gerencia }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <div class="detalle_show"> {{ entity.responsableEgresoValor.nombre }}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Tipo documento</label>
                        <div class="detalle_show">{{ entity.responsableEgresoValor.tipoDocumento }}</div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Nro documento</label>
                        <div class="detalle_show">{{ entity.responsableEgresoValor.nroDocumento }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Saldo</label>
                        <div class="detalle_show">{{ entity.saldo|money_format }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Observaciones</label>
                        <div class="detalle_show">{{ entity.observaciones|default('-') }}</div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="button" class="btn default button-back" 
                        back-url="{{ path('egresovalor') }}">
                    <i class="m-icon-swapleft"></i> Volver
                </button>
            </div>
        </div>
    </div>
{% endblock %}
