{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset(css_path ~ 'compact.css') }}" rel="stylesheet" type="text/css" />

{% endblock%}

{% set edit = form.vars.value.id != null %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">Movimiento presupuestario</div>

            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
            </div>
        </div>
        <div class="portlet-body form">
            {{ form_start(form, {'attr': {'class' : 'horizontal-form','novalidate': 'novalidate'} }) }}

            {% include ':Form:fieldsErrors.html.twig' %}

            {% if edit %} 
                <input type="hidden" name="_method" value="PUT" />
            {% endif %} 

            <div class="form-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            {{ form_label(form.tipoMovimientoPresupuestario) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.tipoMovimientoPresupuestario) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 div-cuenta-origen">
                        <div class="form-group">
                            {{ form_label(form.cuentaPresupuestariaOrigen) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.cuentaPresupuestariaOrigen) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.cuentaPresupuestariaDestino) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.cuentaPresupuestariaDestino) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 div-tipo-operacion" style="display: none">
                        <div class="form-group">
                            {{ form_label(form.tipoOperacion) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.tipoOperacion) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            {{ form_label(form.monto) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.monto) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">                
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.detalle) }}
                            <div class="input-icon right">
                                <i class="fa"></i>
                                {{ form_widget(form.detalle) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>                

            <div class="form-actions">
                <div class="pull-left">
                    <button type="button" class="btn default button-back" 
                            back-url="{{ path('movimientopresupuestario') }}">Cancelar</button>
                </div>
                <div class="pull-right">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn blue'}}) }}
                </div>
            </div>

            {{ form_widget(form._token) }}

            {{ form_end(form, {"render_rest": false}) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        var cuentasPresupuestarias = {{ cuentasPresupuestarias|json_encode|raw }};</script>

    <script src="{{ asset('js/custom/contable/movimientopresupuestario/new.js') }}" ></script>

    <script type="text/javascript">
        document.body.classList.add('compact');
    </script>

{% endblock %}
