<div class="row">                
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Fecha requerimiento</label>
            <div class="detalle_show">{{ requerimiento.fechaRequerimiento|date('d/m/Y') }}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Tipo de contrataci&oacute;n</label>
            <div class="detalle_show">{{ requerimiento.tipoContratacion }}</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Estado</label>
            <div class="detalle_show">{{ requerimiento.estadoRequerimiento }}</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Justiprecio total</label>
            <div class="detalle_show">{{ requerimiento.justiprecioTotal|money_format('$', 1, 4) }}</div>
        </div>
    </div>
</div>
<div class="row">   
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Descripci&oacute;n</label>
            <div class="detalle_show">                                
                {{ requerimiento.descripcion|default('-') }}                        
            </div>
        </div>
    </div>                   
</div>