{% extends '::base.html.twig' %}

{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Detalles del tipo de egreso de valor: <strong>{{ entity }}</strong>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>                
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">    
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Denominaci&oacute;n</label>
                        <div class="detalle_show">{{ entity.denominacion }}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Descripci&oacute;n</label>
                        <div class="detalle_show">{{ entity.descripcion|default('-') }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label class="control-label">Cuenta contable</label>
                        <div class="detalle_show">{{ entity.cuentaContable|default('-') }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Permite reposici&oacute;n</label>
                        <div class="detalle_show">{{ entity.permiteReposicion ? 'Si' : 'No' }}</div>
                    </div>
                </div>
            </div>
			<div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Cuenta contable reconocimiento</label>
                        <div class="detalle_show">{{ entity.cuentaContablReconocimiento|default('-') }}</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Cuenta contable ganancia</label>
                        <div class="detalle_show">{{ entity.cuentaContablGanancia|default('-')}}</div>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Limita persona</label>
                        <div class="detalle_show">{{ entity.limitaPersona ? 'Si' : 'No'}}</div>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Limita gerencia</label>
                        <div class="detalle_show">{{ entity.limitaGerencia ? 'Si' : 'No'}}</div>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Cantidad m&aacute;xima</label>
                        <div class="detalle_show">{{ entity.cantidadMaxima }}</div>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">M;aacute;ximo comprobante</label>
                        <div class="detalle_show">{{ entity.maximoComprobante }}</div>
                    </div>
                </div>
				<div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">M&iacute;nimo rendici&oacute;n</label>
                        <div class="detalle_show">{{ entity.minimoRendicion }}</div>
                    </div>
                </div>
			</div>

            <div class="form-actions">
                <button type="button" class="btn default button-back" 
                        back-url="{{ path('tipoegresovalor') }}">
                    <i class="m-icon-swapleft"></i> Volver
                </button>
            </div>
        </div>
    </div>
{% endblock %}
