<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Compras</legend>

    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.medida) }}
                    <div class="input-icon right">
                        <i class="fa"></i>
                        {{ form_widget(form.medida) }}
                    </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(form.peso) }}
                    <div class="input-icon right">
                        <i class="fa"></i>
                        {{ form_widget(form.peso) }}
                    </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(form.volumen) }}
                    <div class="input-icon right">
                        <i class="fa"></i>
                        {{ form_widget(form.volumen) }}
                    </div>
            </div>
        </div>

    </div>

</fieldset>
