<div class="row">
    <div class="col-md-5 form_field">
        <div class="form-group">
            {{ form_label(valorPropiedad.idPropiedad) }}
            <div class="form_field">
                {{ form_widget(valorPropiedad.idPropiedad) }}
                
            </div>
        </div>
    </div>
    <div class="col-md-6 form_field">
        <div class="form-group">
            {{ form_label(valorPropiedad.propiedadValor) }}
            <div class="form_field">
                {{ form_widget(valorPropiedad.propiedadValor) }}
                <span class="valorPropiedad" valor="{{ valorPropiedad.propiedadValor.vars.value }}"></span>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <a href="#" class="btn btn-sm red delete-link-inline
           prototype-link-remove-valor-propiedad-materialproducido accion-borrar"
           data-placement="top" data-original-title="Eliminar dato">
            <i class="fa fa-times-circle"></i>
        </a>
    </div>
</div>
