<div class="row">
    <div class="form-group col-md-3">
        <label class="control-label">¿La cuenta bancaria es del exterior ?</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.cuentaLocal is defined ? 'SI':'NO'  }}</div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Localidad</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.localidadExtranjero is defined ? datosUsuario.ProveedorDatoBancario.localidadExtranjero : '' }}</div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label class="control-label">C&oacute;digo Swift</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.swift is defined ? datosUsuario.ProveedorDatoBancario.swift : '' }}</div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">ABA</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.aba is defined ? datosUsuario.ProveedorDatoBancario.aba : '' }}</div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label class="control-label">N&uacute;mero de Cuenta</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.numeroCuenta is defined ? datosUsuario.ProveedorDatoBancario.numeroCuenta : '' }}</div>
    </div>                                                    
    <div class="form-group col-md-3">
        <label class="control-label">IBAN</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.iban is defined ? datosUsuario.ProveedorDatoBancario.iban : '' }}</div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label class="control-label">Beneficiario</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.beneficiario is defined ? datosUsuario.ProveedorDatoBancario.beneficiario : '' }}</div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Moneda</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.moneda is defined ? datosUsuario.ProveedorDatoBancario.moneda : '' }}</div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <label class="control-label">Banco Corresponsal</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.bancoCorresponsal is defined ? datosUsuario.ProveedorDatoBancario.bancoCorresponsal : '' }}</div>
    </div>
    <div class="form-group col-md-3">
        <label class="control-label">Swift Banco Corresponsal</label>
        <div class="detalle_show">{{ datosUsuario.ProveedorDatoBancario.swiftBancoCorresponsal is defined ? datosUsuario.ProveedorDatoBancario.swiftBancoCorresponsal : '' }}</div>
    </div>
</div>
<div class="row">
    {% include 'ADIFPortalProveedoresBundle:ProveedorEvaluacion:show_documentacion.html.twig' with {'idDocumentacion':'13'} %}                                                              

    {% include 'ADIFPortalProveedoresBundle:ProveedorEvaluacion:show_observacion_evaluacion.html.twig' with {'idTipoObservacion':'10'} %}
</div>