<li class="dropdown-submenu">
    <a href="">
        Configuraci&oacute;n
    </a>
    <ul class="dropdown-menu">  
        {# {% if is_granted('ROLE_MENU_CUENTAS_POR_COBRAR_CONFIGURACION_CLASE_CONTRATO') %} #}
        <li>
            <a href="{{ path('clasecontrato') }}">
                Clase de contrato
            </a>
        </li>
        {# {% endif %} #}
        {# {% if is_granted('ROLE_MENU_CUENTAS_POR_COBRAR_CONFIGURACION_CONCEPTO_VENTA_GENERAL') %} #}
        <li>
            <a href="{{ path('concepto_venta_general') }}">
                Concepto de venta general
            </a>
        </li>
        {# {% endif %} #}
        {# {% if is_granted('ROLE_MENU_CUENTAS_POR_COBRAR_CONFIGURACION_PUNTOS_VENTA') %} #}
        <li>
            <a href="{{ path('puntosventa') }}">
                Puntos de venta
            </a>
        </li>
        {# {% endif %} #}

        {% if is_granted('ROLE_MENU_CUENTAS_POR_COBRAR_TALONARIO') %}
            <li>
                <a href="{{ path('talonarios') }}">
                    Talonarios
                </a>
            </li>
        {% endif %}
        
        {% if is_granted('ROLE_LOCALIDADES') %}
            <li>
                <a href="{{ path('localidades') }}">
                    Localidades
                </a>
            </li>
        {% endif %}
        
    </ul>
</li>