<li class="dropdown-submenu">
    <a href="">
        Compras
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('entidadautorizante') }}">
                Entidades autorizantes
            </a>
        </li>
        <li>
            <a href="{{ path('estadobieneconomico') }}">
                Estados de bienes econ&oacute;micos
            </a>
        </li>
        <li>
            <a href="{{ path('estadosolicitudcompra') }}">
                Estados de solicitud de compra
            </a>
        </li>
        <li>
            <a href="{{ path('prioridad') }}">
                Prioridades
            </a>
        </li>
        <li>
            <a href="{{ path('orden_compra_parametrizacion') }}">
                Parametrizaci&oacute;n de orden de compra
            </a>
        </li>
        <li>
            <a href="{{ path('tipoadicional') }}">
                Tipos de adicional
            </a>
        </li>
        <li>
            <a href="{{ path('tipocontratacion') }}">
                Tipos de contrataci&oacute;n
            </a>
        </li>
        <li>
            <a href="{{ path('tiposolicitudcompra') }}">
                Tipos de solicitud de compra
            </a>
        </li>
        <li>
            <a href="{{ path('unidadmedida') }}">
                Unidades de medida
            </a>
        </li>
    </ul>
</li>