<li class="dropdown-submenu">
    <a href="">
        Configuraci&oacute;n
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('cuentapresupuestariaeconomica') }}">
                Cuentas presupuestarias econ&oacute;micas
            </a>
        </li>
        <li>
            <a href="{{ path('cuentapresupuestariaobjetogasto') }}">
                Cuentas presupuestarias objeto de gasto
            </a>
        </li>
        <li class="dropdown-submenu">
            <a href="">
                Reportes
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('configuracionreportespresupuestarios_epe2') }}">
                        EPE 2
                    </a>
                </li>
                <li>
                    <a href="{{ path('configuracionreportespresupuestarios_epe3') }}">
                        EPE 3
                    </a>
                </li>
                <li>
                    <a href="{{ path('configuracionreportespresupuestarios_epe5') }}">
                        EPE 5
                    </a>
                </li>
                <li>
                    <a href="{{ path('configuracionreportespresupuestarios_epe7') }}">
                        EPE 7
                    </a>
                </li>
                <li>
                    <a href="{{ path('configuracionreportespresupuestarios_epe8') }}">
                        EPE 8
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>