<li class="dropdown-submenu">
    <a href="">
        Configuraci&oacute;n
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('modelos_asiento_contable') }}">
                Asientos modelo
            </a>
        </li>
        <li>
            <a href="{{ path('alicuotasiibb') }}">
                Al&iacute;cuotas de IIBB
            </a>
        </li>
        <li>
            <a href="{{ path('alicuotaiva') }}">
                Al&iacute;cuotas IVA
            </a>
        </li>
        <li>
            <a href="{{ path('centrocosto') }}">
                Centros de costo
            </a>
        </li>
        <li>
            <a href="{{ path('conceptoimpuesto') }}">
                Conceptos de impuestos
            </a>
        </li>
        <li>
            <a href="{{ path('conceptopercepcion') }}">
                Conceptos de percepci&oacute;n
            </a>
        </li>
        <li>
            <a href="{{ path('concepto_percepcion_parametrizacion') }}">
                Conceptos de percepci&oacute;n (parametrizaci&oacute;n)
            </a>
        </li>
        <li>
            <a href="{{ path('ejercicio') }}">
                Ejercicios contables
            </a>
        </li>
        <li>
            <a href="{{ path('condicionpago') }}">
                Condiciones de pago
            </a>
        </li>
        <li>
            <a href="{{ path('regimenespercepcion') }}">
                Reg&iacute;menes de percepci&oacute;n
            </a>
        </li>
        <li>
            <a href="{{ path('regimenretencion') }}">
                Reg&iacute;menes de retenci&oacute;n
            </a>
        </li>
        <li>
            <a href="{{ path('plandecuentas_configuracion') }}">
                Plan de cuentas
            </a>
        </li>
        <li>
            <a href="{{ path('impuestos') }}">
                Tipos de impuesto
            </a>
        </li>
        <li>
            <a href="{{ path('tipomoneda') }}">
                Tipos de moneda
            </a>
        </li>
		<li>
            <a href="{{ path('iibb_caba', { 'esProveedor': 0 }) }}">
                Ingresos brutos CABA - Clientes
            </a>
        </li>
		<li>
            <a href="{{ path('iibb_caba', { 'esProveedor': 1 }) }}">
                Ingresos brutos CABA - Proveedores
            </a>
        </li>
    </ul>
</li>