<fieldset class="form-section-fieldset">

    <legend class="form-section-legend">Datos principales</legend>

    <div class="row">                        
        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(form.clienteProveedor.codigo) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.clienteProveedor.codigo) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.clienteProveedor.razonSocial) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.clienteProveedor.razonSocial) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.representanteLegal) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.representanteLegal) }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(form.clienteProveedor.esExtranjero) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.clienteProveedor.esExtranjero) }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(form.estadoCliente) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.estadoCliente) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">                            
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.clienteProveedor.actividades) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.clienteProveedor.actividades) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">                            
        <div class="col-md-12">
            <div class="form-group">
                {{ form_label(form.observacion) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.observacion) }}
                </div>
            </div>
        </div>
    </div>
</fieldset>
                    
{% include 'ADIFComprasBundle:ClienteProveedor:new_archivos.html.twig' %}