<div class="contenido_form_649">
    <div class="row">  
        <div class="col-md-2">
            <div class="form-group">
                {{ form_label(form.formulario649.fechaFormulario) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.formulario649.fechaFormulario) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.formulario649.gananciaAcumulada) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.formulario649.gananciaAcumulada) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.formulario649.totalImpuestoDeterminado) }}
                <div class="input-icon right">
                    <i class="fa"></i>
                    {{ form_widget(form.formulario649.totalImpuestoDeterminado) }}
                </div>
            </div>
        </div>
    </div>
</div>