<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.idCuenta.cargar, null, {'label_attr': {'class': 'control-label'}})  }}
            {{ form_widget(form.idCuenta.cargar,{ 'attr': {'checked': form.idCuenta.vars.value ? (form.idCuenta.vars.value.id ? true : false ) : false } } ) }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            {{ form_label(form.idCuenta.idBanco, null, {'label_attr': {'class': 'control-label'}})  }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.idCuenta.idBanco) }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            {{ form_label(form.idCuenta.idTipoCuenta, null, {'label_attr': {'class': 'control-label'}})  }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.idCuenta.idTipoCuenta) }}
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            {{ form_label(form.idCuenta.cbu, null, {'label_attr': {'class': 'control-label'}})  }}
            <div class="input-icon right">
                <i class="fa"></i>
                {{ form_widget(form.idCuenta.cbu) }}
            </div>
        </div>
    </div>
</div>