{% extends '::base.html.twig' %}


{% block body -%}
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">
                Detalles de la comprobante: <strong>{{ entity }}</strong>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>                
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">    
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Fecha</label>
                        <div class="detalle_show">                                {{ entity.fecha|date('d/m/Y H:i:s') }}                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Puntoventa</label>
                        <div class="detalle_show">                                {{ entity.puntoVenta }}                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Numero</label>
                        <div class="detalle_show">                                {{ entity.numero }}                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Observaciones</label>
                        <div class="detalle_show">                                {{ entity.observaciones }}                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Total</label>
                        <div class="detalle_show">                                {{ entity.total }}                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Montovalidacion</label>
                        <div class="detalle_show">                                {{ entity.montoValidacion }}                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>

            <div class="form-actions">
                <button type="button" class="btn default button-back">
                    <i class="m-icon-swapleft"></i> Volver
                </button>
            </div>
        </div>
    </div>
{% endblock %}
